force-app/main/default/flows/JBSystemFlow_msf_QuotaModification_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj01dc9958a55625cd4861202e014fa9f7_FireJBTrigger</name>
        <label>SalesforceObj01dc9958a55625cd4861202e014fa9f7_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;msf_ContactId__c&quot;,
  &quot;relationshipName&quot;: &quot;msf_ContactId__r&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Contact&quot;,
  &quot;fieldName&quot;: &quot;Id&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>msf_QuotaModification__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj01dc9958a55625cd4861202e014fa9f7</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100030112</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;msf_ContactId__r&quot;,&quot;dePrefix&quot;:&quot;msf_QuotaModification__c:msf_ContactId__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;RecordTypeId&quot;,&quot;msf_Program__c&quot;,&quot;msf_Nickname__c&quot;,&quot;msf_MainEmail__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;msf_ReturnedMail__c&quot;,&quot;msf_ShippingName__c&quot;,&quot;msf_LanguagePreferer__c&quot;,&quot;msf_NoAgradecimientosCP__c&quot;,&quot;msf_MobilePhonePrefixEsp__c&quot;,&quot;msf_NoAgradecimientosSms__c&quot;,&quot;msf_NoAgradecimientosEmail__c&quot;,&quot;msf_ContactInformationSummary__c&quot;,&quot;smartystreets__Mailing_Return_Code__c&quot;,&quot;msf_NoAgradecimientosDonativosSMSEx__c&quot;,&quot;msf_NoAgradecimientosDonativosPapelEx__c&quot;,&quot;msf_NoAgradecimientosDonativosEmailEx__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;msf_QuotaModification__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;msf_LeadSource1__c&quot;,&quot;msf_NewAnnualizedQuota__c&quot;,&quot;msf_NewRecurringPeriod__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;npe03__Recurring_Donation__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;msf_RecurringDonation__r&quot;,&quot;dePrefix&quot;:&quot;msf_QuotaModification__c:msf_RecurringDonation__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;npe03__Amount__c&quot;,&quot;msf_Canvasser__c&quot;,&quot;LastModifiedDate&quot;,&quot;msf_AmountFormat__c&quot;,&quot;msf_CancelationDate__c&quot;,&quot;msf_InstallmentPeriodEsp__c&quot;,&quot;npe03__Installment_Period__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjb2c4bcf4c59cc025e22b09cabd779e92_FireJBTrigger</name>
        <label>SalesforceObjb2c4bcf4c59cc025e22b09cabd779e92_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj01dc9958a55625cd4861202e014fa9f7</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj01dc9958a55625cd4861202e014fa9f7</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;msf_ContactId__c&quot;,&quot;relationshipName&quot;:&quot;msf_ContactId__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>msf_QuotaModification__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjb2c4bcf4c59cc025e22b09cabd779e92</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100030112</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;msf_ContactId__r&quot;,&quot;dePrefix&quot;:&quot;msf_QuotaModification__c:msf_ContactId__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;RecordTypeId&quot;,&quot;msf_Nickname__c&quot;,&quot;msf_MainEmail__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;msf_ReturnedMail__c&quot;,&quot;msf_ShippingName__c&quot;,&quot;msf_LanguagePreferer__c&quot;,&quot;msf_NoAgradecimientosCP__c&quot;,&quot;msf_MobilePhonePrefixEsp__c&quot;,&quot;msf_NoAgradecimientosSms__c&quot;,&quot;msf_NoAgradecimientosEmail__c&quot;,&quot;msf_ContactInformationSummary__c&quot;,&quot;smartystreets__Mailing_Return_Code__c&quot;,&quot;msf_NoAgradecimientosDonativosSMSEx__c&quot;,&quot;msf_NoAgradecimientosDonativosEmailEx__c&quot;,&quot;msf_NoAgradecimientosDonativosPapelEx__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;msf_QuotaModification__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;msf_NewRecurringPeriod__c&quot;,&quot;msf_NewAnnualizedQuota__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;npe03__Recurring_Donation__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;msf_RecurringDonation__r&quot;,&quot;dePrefix&quot;:&quot;msf_QuotaModification__c:msf_RecurringDonation__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;npe03__Amount__c&quot;,&quot;msf_Canvasser__c&quot;,&quot;msf_CancelationDate__c&quot;,&quot;npsp4hub__Payment_Method__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj01dc9958a55625cd4861202e014fa9f7</name>
        <label>JB_Decision_Null_Check_SalesforceObj01dc9958a55625cd4861202e014fa9f7</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj01dc9958a55625cd4861202e014fa9f7_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.msf_ContactId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj01dc9958a55625cd4861202e014fa9f7_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj01dc9958a55625cd4861202e014fa9f7_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj01dc9958a55625cd4861202e014fa9f7_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj01dc9958a55625cd4861202e014fa9f7_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj01dc9958a55625cd4861202e014fa9f7_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj01dc9958a55625cd4861202e014fa9f7_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj01dc9958a55625cd4861202e014fa9f7_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjb2c4bcf4c59cc025e22b09cabd779e92</name>
        <label>JB_Decision_Null_Check_SalesforceObjb2c4bcf4c59cc025e22b09cabd779e92</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj01dc9958a55625cd4861202e014fa9f7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjb2c4bcf4c59cc025e22b09cabd779e92_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.msf_ContactId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj01dc9958a55625cd4861202e014fa9f7</targetReference>
            </connector>
            <label>JB_SalesforceObjb2c4bcf4c59cc025e22b09cabd779e92_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjb2c4bcf4c59cc025e22b09cabd779e92_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjb2c4bcf4c59cc025e22b09cabd779e92_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjb2c4bcf4c59cc025e22b09cabd779e92_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjb2c4bcf4c59cc025e22b09cabd779e92_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjb2c4bcf4c59cc025e22b09cabd779e92_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjb2c4bcf4c59cc025e22b09cabd779e92_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj01dc9958a55625cd4861202e014fa9f7_Decision</name>
        <label>JB_SalesforceObj01dc9958a55625cd4861202e014fa9f7_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj01dc9958a55625cd4861202e014fa9f7</name>
            <conditionLogic>( (1 AND 2)  And  (3 AND 4) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.msf_ContactId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_ChangeType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Increase</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_ContactId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_ContactId__r.msf_ContactDeleteReason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj01dc9958a55625cd4861202e014fa9f7_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj01dc9958a55625cd4861202e014fa9f7</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj01dc9958a55625cd4861202e014fa9f7_State_change_Decision</name>
        <label>JB_SalesforceObj01dc9958a55625cd4861202e014fa9f7_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj01dc9958a55625cd4861202e014fa9f7</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.msf_ContactId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_ChangeType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Increase</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj01dc9958a55625cd4861202e014fa9f7_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj01dc9958a55625cd4861202e014fa9f7</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjb2c4bcf4c59cc025e22b09cabd779e92_Decision</name>
        <label>JB_SalesforceObjb2c4bcf4c59cc025e22b09cabd779e92_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj01dc9958a55625cd4861202e014fa9f7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjb2c4bcf4c59cc025e22b09cabd779e92</name>
            <conditionLogic>( (1 AND 2)  And  ( (3 AND 4)  AND  (5 AND 6) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.msf_ContactId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_ChangeType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Decrease</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_ContactId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_ContactId__r.msf_ContactDeleteReason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_RecurringDonation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_RecurringDonation__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120O000000LBoOQAW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjb2c4bcf4c59cc025e22b09cabd779e92_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjb2c4bcf4c59cc025e22b09cabd779e92</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjb2c4bcf4c59cc025e22b09cabd779e92_State_change_Decision</name>
        <label>JB_SalesforceObjb2c4bcf4c59cc025e22b09cabd779e92_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj01dc9958a55625cd4861202e014fa9f7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjb2c4bcf4c59cc025e22b09cabd779e92</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.msf_ContactId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_ChangeType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Decrease</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjb2c4bcf4c59cc025e22b09cabd779e92_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjb2c4bcf4c59cc025e22b09cabd779e92</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_msf_QuotaModification_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjb2c4bcf4c59cc025e22b09cabd779e92</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>msf_QuotaModification__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>msf_QuotaModification__c</objectType>
    </variables>
</Flow>
