force-app/main/default/flows/JBSystemFlow_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj1090e9a438e8c788a18cef151384c783_FireJBTrigger</name>
        <label>SalesforceObj1090e9a438e8c788a18cef151384c783_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;Id&quot;,
  &quot;relationshipName&quot;: &quot;&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Contact&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj1090e9a438e8c788a18cef151384c783</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100030112</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;CreatedDate&quot;,&quot;msf_MainEmail__c&quot;,&quot;msf_LevelScore__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;msf_IsStrategic__c&quot;,&quot;msf_ShippingName__c&quot;,&quot;msf_IsInfluencer__c&quot;,&quot;msf_IsAssosiative__c&quot;,&quot;msf_IsPublicPerson__c&quot;,&quot;msf_IsMediaContact__c&quot;,&quot;msf_BigDonorContact__c&quot;,&quot;msf_RelationshipLevel__c&quot;,&quot;msf_ProgramaHerencias__c&quot;,&quot;msf_ContactDeleteReason__c&quot;,&quot;msf_NoAgradecimientosCP__c&quot;,&quot;msf_NoAgradecimientosEmail__c&quot;,&quot;msf_ContactInformationSummary__c&quot;,&quot;smartystreets__Mailing_Return_Code__c&quot;,&quot;msf_NoAgradecimientosDonativosPapelEx__c&quot;,&quot;msf_NoAgradecimientosDonativosEmailEx__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;RecordType&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;RecordType&quot;,&quot;dePrefix&quot;:&quot;Contact:RecordType:&quot;,&quot;fields&quot;:[&quot;DeveloperName&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj45b58c868445b85d3e1909b3b82c3bad_FireJBTrigger</name>
        <label>SalesforceObj45b58c868445b85d3e1909b3b82c3bad_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj8c38811e82895d2f4538dc139b33ed89</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj8c38811e82895d2f4538dc139b33ed89</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj45b58c868445b85d3e1909b3b82c3bad</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100030112</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;OwnerId&quot;,&quot;MailingState&quot;,&quot;msf_MainEmail__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;msf_isActiveDonor__c&quot;,&quot;msf_HasWelcomeDonor__c&quot;,&quot;msf_DateFirstDonation__c&quot;,&quot;msf_ContactDeleteReason__c&quot;,&quot;msf_IsActiveRecurringDonor__c&quot;,&quot;msf_HasWelcomeRecurringDonor__c&quot;,&quot;msf_FirstEntryDateRecurringDonor__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;msf_OtherMSFOfficer__r&quot;,&quot;dePrefix&quot;:&quot;Contact:msf_OtherMSFOfficer__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;UserRoleId&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;dePrefix&quot;:&quot;Contact:Owner:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;UserRoleId&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj45eaff37bfd70e68f7ab96c764952584_FireJBTrigger</name>
        <label>SalesforceObj45eaff37bfd70e68f7ab96c764952584_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1090e9a438e8c788a18cef151384c783</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1090e9a438e8c788a18cef151384c783</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj45eaff37bfd70e68f7ab96c764952584</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100030112</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;msf_Phone__c&quot;,&quot;msf_MainEmail__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;msf_ShippingName__c&quot;,&quot;msf_ContactDeleteReason__c&quot;,&quot;msf_NoAgradecimientosEmail__c&quot;,&quot;msf_NoAgradecimientosTelefono__c&quot;,&quot;msf_NoAgradecimientosDonativosEmailEx__c&quot;,&quot;msf_NoAgradecimientosDonativosTelefonoEx__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;RecordType&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;RecordType&quot;,&quot;dePrefix&quot;:&quot;Contact:RecordType:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;DeveloperName&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj8c38811e82895d2f4538dc139b33ed89_FireJBTrigger</name>
        <label>SalesforceObj8c38811e82895d2f4538dc139b33ed89_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj45eaff37bfd70e68f7ab96c764952584</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj45eaff37bfd70e68f7ab96c764952584</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj8c38811e82895d2f4538dc139b33ed89</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100030112</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;msf_MainEmail__c&quot;,&quot;msf_LevelScore__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;msf_ShippingName__c&quot;,&quot;msf_ContactDeleteReason__c&quot;,&quot;msf_NoAgradecimientosDonativosEmailEx__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;RecordType&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;RecordType&quot;,&quot;dePrefix&quot;:&quot;Contact:RecordType:&quot;,&quot;fields&quot;:[&quot;DeveloperName&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjcd7bc8c6882e9240d7934a8e7c21597c_FireJBTrigger</name>
        <label>SalesforceObjcd7bc8c6882e9240d7934a8e7c21597c_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjd37fe49fb4ca0dc060bdc055310368a3</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjd37fe49fb4ca0dc060bdc055310368a3</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjcd7bc8c6882e9240d7934a8e7c21597c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100030112</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;msf_MainEmail__c&quot;,&quot;msf_MemberType__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;msf_BeginDateMSF__c&quot;,&quot;msf_ShippingName__c&quot;,&quot;msf_LastDonationUnique__c&quot;,&quot;msf_ContactDeleteReason__c&quot;,&quot;msf_EntryDateCurrentRecurringDonor__c&quot;,&quot;msf_NoAgradecimientosDonativosEmailEx__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;RecordType&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;RecordType&quot;,&quot;dePrefix&quot;:&quot;Contact:RecordType:&quot;,&quot;fields&quot;:[&quot;DeveloperName&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjd37fe49fb4ca0dc060bdc055310368a3_FireJBTrigger</name>
        <label>SalesforceObjd37fe49fb4ca0dc060bdc055310368a3_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj45b58c868445b85d3e1909b3b82c3bad</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj45b58c868445b85d3e1909b3b82c3bad</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjd37fe49fb4ca0dc060bdc055310368a3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100030112</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;msf_MainEmail__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;msf_ContactDeleteReason__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;User&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Owner&quot;,&quot;dePrefix&quot;:&quot;Contact:Owner:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;UserRoleId&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj1090e9a438e8c788a18cef151384c783</name>
        <label>JB_Decision_Null_Check_SalesforceObj1090e9a438e8c788a18cef151384c783</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj1090e9a438e8c788a18cef151384c783_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj1090e9a438e8c788a18cef151384c783_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj1090e9a438e8c788a18cef151384c783_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj1090e9a438e8c788a18cef151384c783_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj1090e9a438e8c788a18cef151384c783_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj1090e9a438e8c788a18cef151384c783_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj45b58c868445b85d3e1909b3b82c3bad</name>
        <label>JB_Decision_Null_Check_SalesforceObj45b58c868445b85d3e1909b3b82c3bad</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj8c38811e82895d2f4538dc139b33ed89</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj45b58c868445b85d3e1909b3b82c3bad_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj45b58c868445b85d3e1909b3b82c3bad_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj45b58c868445b85d3e1909b3b82c3bad_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj45eaff37bfd70e68f7ab96c764952584</name>
        <label>JB_Decision_Null_Check_SalesforceObj45eaff37bfd70e68f7ab96c764952584</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1090e9a438e8c788a18cef151384c783</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj45eaff37bfd70e68f7ab96c764952584_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj45eaff37bfd70e68f7ab96c764952584_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj45eaff37bfd70e68f7ab96c764952584_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj8c38811e82895d2f4538dc139b33ed89</name>
        <label>JB_Decision_Null_Check_SalesforceObj8c38811e82895d2f4538dc139b33ed89</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj45eaff37bfd70e68f7ab96c764952584</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj8c38811e82895d2f4538dc139b33ed89_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj8c38811e82895d2f4538dc139b33ed89_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj8c38811e82895d2f4538dc139b33ed89_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjcd7bc8c6882e9240d7934a8e7c21597c</name>
        <label>JB_Decision_Null_Check_SalesforceObjcd7bc8c6882e9240d7934a8e7c21597c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjd37fe49fb4ca0dc060bdc055310368a3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjcd7bc8c6882e9240d7934a8e7c21597c_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjcd7bc8c6882e9240d7934a8e7c21597c_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjcd7bc8c6882e9240d7934a8e7c21597c_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjcd7bc8c6882e9240d7934a8e7c21597c_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjcd7bc8c6882e9240d7934a8e7c21597c_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjcd7bc8c6882e9240d7934a8e7c21597c_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjd37fe49fb4ca0dc060bdc055310368a3</name>
        <label>JB_Decision_Null_Check_SalesforceObjd37fe49fb4ca0dc060bdc055310368a3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj45b58c868445b85d3e1909b3b82c3bad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjd37fe49fb4ca0dc060bdc055310368a3_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjd37fe49fb4ca0dc060bdc055310368a3_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjd37fe49fb4ca0dc060bdc055310368a3_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj1090e9a438e8c788a18cef151384c783_Decision</name>
        <label>JB_SalesforceObj1090e9a438e8c788a18cef151384c783_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj1090e9a438e8c788a18cef151384c783</name>
            <conditionLogic>( ( ( ( ( ( ( (1 AND  (2 OR 3) )  AND 4)  AND 5)  AND 6)  AND 7)  AND 8)  AND 9)  AND 10)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.msf_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conversión prospectos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_RelationshipLevel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_RelationshipLevel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0l0O00000k727RQAQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_IsPublicPerson__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_IsStrategic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_BigDonorContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_IsMediaContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_IsAssosiative__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_ProgramaHerencias__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_IsInfluencer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj1090e9a438e8c788a18cef151384c783_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj1090e9a438e8c788a18cef151384c783</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj1090e9a438e8c788a18cef151384c783_State_change_Decision</name>
        <label>JB_SalesforceObj1090e9a438e8c788a18cef151384c783_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj1090e9a438e8c788a18cef151384c783</name>
            <conditionLogic>NOT  ( ( ( ( ( ( ( (1 AND  (2 OR 3) )  AND 4)  AND 5)  AND 6)  AND 7)  AND 8)  AND 9)  AND 10)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.msf_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conversión prospectos</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_RelationshipLevel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_RelationshipLevel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0l0O00000k727RQAQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_IsPublicPerson__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_IsStrategic__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_BigDonorContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_IsMediaContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_IsAssosiative__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_ProgramaHerencias__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_IsInfluencer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj1090e9a438e8c788a18cef151384c783_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj1090e9a438e8c788a18cef151384c783</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj45b58c868445b85d3e1909b3b82c3bad_Decision</name>
        <label>JB_SalesforceObj45b58c868445b85d3e1909b3b82c3bad_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj8c38811e82895d2f4538dc139b33ed89</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj45b58c868445b85d3e1909b3b82c3bad</name>
            <conditionLogic>( (1 AND 2)  And  ( ( ( (3 AND 4)  AND  (5 AND 6) )  OR  (7 AND 8) )  OR  (9 AND 10) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.msf_RelationshipLevel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0l0O00000k727TQAQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mid+ Donors</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Owner.UserRoleId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>00E3Y000001MrTGUA0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Owner.UserRoleId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>00E3Y000001MrTEUA0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Owner.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>marta.murillo@barcelona.msf.org</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Owner.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>raquel.sayas@barcelona.msf.org</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj45b58c868445b85d3e1909b3b82c3bad_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj45b58c868445b85d3e1909b3b82c3bad</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj45b58c868445b85d3e1909b3b82c3bad_State_change_Decision</name>
        <label>JB_SalesforceObj45b58c868445b85d3e1909b3b82c3bad_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj8c38811e82895d2f4538dc139b33ed89</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj45b58c868445b85d3e1909b3b82c3bad</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.msf_RelationshipLevel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0l0O00000k727TQAQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mid+ Donors</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj45b58c868445b85d3e1909b3b82c3bad_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj45b58c868445b85d3e1909b3b82c3bad</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj45eaff37bfd70e68f7ab96c764952584_Decision</name>
        <label>JB_SalesforceObj45eaff37bfd70e68f7ab96c764952584_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1090e9a438e8c788a18cef151384c783</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj45eaff37bfd70e68f7ab96c764952584</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.msf_ReturnedMail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj45eaff37bfd70e68f7ab96c764952584_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj45eaff37bfd70e68f7ab96c764952584</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj45eaff37bfd70e68f7ab96c764952584_State_change_Decision</name>
        <label>JB_SalesforceObj45eaff37bfd70e68f7ab96c764952584_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj1090e9a438e8c788a18cef151384c783</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj45eaff37bfd70e68f7ab96c764952584</name>
            <conditionLogic>NOT 1</conditionLogic>
            <conditions>
                <leftValueReference>old_object.msf_ReturnedMail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj45eaff37bfd70e68f7ab96c764952584_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj45eaff37bfd70e68f7ab96c764952584</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj8c38811e82895d2f4538dc139b33ed89_Decision</name>
        <label>JB_SalesforceObj8c38811e82895d2f4538dc139b33ed89_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj45eaff37bfd70e68f7ab96c764952584</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj8c38811e82895d2f4538dc139b33ed89</name>
            <conditionLogic>(1 AND  (2 OR 3) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.msf_NoNewsletterEmail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_LastModificationChannel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Formularios Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_LastModificationChannel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mi Perfil</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj8c38811e82895d2f4538dc139b33ed89_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj8c38811e82895d2f4538dc139b33ed89</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj8c38811e82895d2f4538dc139b33ed89_State_change_Decision</name>
        <label>JB_SalesforceObj8c38811e82895d2f4538dc139b33ed89_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj45eaff37bfd70e68f7ab96c764952584</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj8c38811e82895d2f4538dc139b33ed89</name>
            <conditionLogic>NOT  (1 AND  (2 OR 3) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.msf_NoNewsletterEmail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_LastModificationChannel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Formularios Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_LastModificationChannel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mi Perfil</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj8c38811e82895d2f4538dc139b33ed89_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj8c38811e82895d2f4538dc139b33ed89</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjcd7bc8c6882e9240d7934a8e7c21597c_Decision</name>
        <label>JB_SalesforceObjcd7bc8c6882e9240d7934a8e7c21597c_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjd37fe49fb4ca0dc060bdc055310368a3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjcd7bc8c6882e9240d7934a8e7c21597c</name>
            <conditionLogic>( (1 AND 2)  And  ( ( ( (3 AND 4)  OR  (5 AND 6) )  OR  (7 AND 8) )  AND  (9 AND 10) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.msf_MainEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_NoNewsletterEmail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual_Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Organization</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Organization_Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_RelationshipLevel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_RelationshipLevel__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>One to one</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjcd7bc8c6882e9240d7934a8e7c21597c_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjcd7bc8c6882e9240d7934a8e7c21597c</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjcd7bc8c6882e9240d7934a8e7c21597c_State_change_Decision</name>
        <label>JB_SalesforceObjcd7bc8c6882e9240d7934a8e7c21597c_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjd37fe49fb4ca0dc060bdc055310368a3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjcd7bc8c6882e9240d7934a8e7c21597c</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.msf_MainEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_NoNewsletterEmail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjcd7bc8c6882e9240d7934a8e7c21597c_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjcd7bc8c6882e9240d7934a8e7c21597c</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjd37fe49fb4ca0dc060bdc055310368a3_Decision</name>
        <label>JB_SalesforceObjd37fe49fb4ca0dc060bdc055310368a3_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj45b58c868445b85d3e1909b3b82c3bad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjd37fe49fb4ca0dc060bdc055310368a3</name>
            <conditionLogic>( ( (1 AND 2)  AND  (3 AND 4) )  And  ( (5 AND 6)  OR  (7 AND 8) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.msf_RelationshipLevel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0l0O00000k727TQAQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mid+ Donors</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0053Y00000970ZKQAY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0053Y00000970ZFQAY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Owner.UserRoleId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E3Y000001MrTGUA0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.Owner.UserRoleId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00E3Y000001MrTEUA0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjd37fe49fb4ca0dc060bdc055310368a3_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjd37fe49fb4ca0dc060bdc055310368a3</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjd37fe49fb4ca0dc060bdc055310368a3_State_change_Decision</name>
        <label>JB_SalesforceObjd37fe49fb4ca0dc060bdc055310368a3_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj45b58c868445b85d3e1909b3b82c3bad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjd37fe49fb4ca0dc060bdc055310368a3</name>
            <conditionLogic>NOT  ( (1 AND 2)  AND  (3 AND 4) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.msf_RelationshipLevel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0l0O00000k727TQAQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mid+ Donors</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0053Y00000970ZKQAY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0053Y00000970ZFQAY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjd37fe49fb4ca0dc060bdc055310368a3_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjd37fe49fb4ca0dc060bdc055310368a3</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Contact</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjcd7bc8c6882e9240d7934a8e7c21597c</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
