force-app/main/default/flows/JBSystemFlow_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObje2cf2c79e12f0b2a89a72b2c618ecdfb_FireJBTrigger</name>
        <label>SalesforceObje2cf2c79e12f0b2a89a72b2c618ecdfb_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;WhoId&quot;,&quot;relationshipName&quot;:&quot;Who&quot;,&quot;isPolymorphic&quot;:true,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObje2cf2c79e12f0b2a89a72b2c618ecdfb</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100030112</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Task:&quot;,&quot;fields&quot;:[&quot;Id&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:true,&quot;relationshipName&quot;:&quot;Who&quot;,&quot;dePrefix&quot;:&quot;Task:Who:Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObje2cf2c79e12f0b2a89a72b2c618ecdfb</name>
        <label>JB_Decision_Null_Check_SalesforceObje2cf2c79e12f0b2a89a72b2c618ecdfb</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObje2cf2c79e12f0b2a89a72b2c618ecdfb_Parameters_ContactKey_Null</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>Who_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Who_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObje2cf2c79e12f0b2a89a72b2c618ecdfb_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObje2cf2c79e12f0b2a89a72b2c618ecdfb_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObje2cf2c79e12f0b2a89a72b2c618ecdfb_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObje2cf2c79e12f0b2a89a72b2c618ecdfb_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObje2cf2c79e12f0b2a89a72b2c618ecdfb_Decision</name>
        <label>JB_SalesforceObje2cf2c79e12f0b2a89a72b2c618ecdfb_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObje2cf2c79e12f0b2a89a72b2c618ecdfb</name>
            <conditionLogic>( (1 AND  ( (2 AND 3)  AND 4) )  And  (5 AND 6) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.WhoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_CloseType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Descargada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_Objective__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interno</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Who_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Who_Contact.msf_CRMExternalId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>28051433</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObje2cf2c79e12f0b2a89a72b2c618ecdfb_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObje2cf2c79e12f0b2a89a72b2c618ecdfb</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObje2cf2c79e12f0b2a89a72b2c618ecdfb_State_change_Decision</name>
        <label>JB_SalesforceObje2cf2c79e12f0b2a89a72b2c618ecdfb_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObje2cf2c79e12f0b2a89a72b2c618ecdfb</name>
            <conditionLogic>NOT  (1 AND  ( (2 AND 3)  AND 4) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.WhoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_CloseType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Descargada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_Objective__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Interno</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObje2cf2c79e12f0b2a89a72b2c618ecdfb_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObje2cf2c79e12f0b2a89a72b2c618ecdfb</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Task</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Who_Contact_lookup</name>
        <label>Who_Contact_lookup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObje2cf2c79e12f0b2a89a72b2c618ecdfb</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>new_object.WhoId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Who_Contact</outputReference>
        <queriedFields>msf_CRMExternalId__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>Who_Contact_lookup</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Who_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
