force-app/main/default/flows/JBSystemFlow_npe03_Recurring_Donation_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj14d3859e913513e30e53910b7512770c_FireJBTrigger</name>
        <label>SalesforceObj14d3859e913513e30e53910b7512770c_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj97da3c498c570092bf8930442bf8b596</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj97da3c498c570092bf8930442bf8b596</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;npe03__Contact__c&quot;,&quot;relationshipName&quot;:&quot;npe03__Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>npe03__Recurring_Donation__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj14d3859e913513e30e53910b7512770c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100030112</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;npe03__Contact__r&quot;,&quot;dePrefix&quot;:&quot;npe03__Recurring_Donation__c:npe03__Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;msf_Phone__c&quot;,&quot;msf_MainEmail__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;msf_ReturnedMail__c&quot;,&quot;msf_ShippingName__c&quot;,&quot;msf_RelationshipLevel__c&quot;,&quot;msf_NoAgradecimientosCP__c&quot;,&quot;msf_NoAgradecimientosEmail__c&quot;,&quot;msf_ContactInformationSummary__c&quot;,&quot;msf_NoAgradecimientosTelefono__c&quot;,&quot;smartystreets__Mailing_Return_Code__c&quot;,&quot;msf_EntryDateCurrentRecurringDonor__c&quot;,&quot;msf_NoAgradecimientosDonativosPapelEx__c&quot;,&quot;msf_NoAgradecimientosDonativosEmailEx__c&quot;,&quot;msf_NoAgradecimientosDonativosTelefonoEx__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;npe03__Recurring_Donation__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;npe03__Amount__c&quot;,&quot;msf_LeadSource1__c&quot;,&quot;msf_AmountFormat__c&quot;,&quot;msf_CancelationDate__c&quot;,&quot;msf_AmountNotCurrency__c&quot;,&quot;npe03__Installment_Period__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj437c25015871e1f9f0cd76dd8733960e_FireJBTrigger</name>
        <label>SalesforceObj437c25015871e1f9f0cd76dd8733960e_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9e90414cb647667c0ae86ae1fabbf465</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9e90414cb647667c0ae86ae1fabbf465</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;npe03__Contact__c&quot;,&quot;relationshipName&quot;:&quot;npe03__Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>npe03__Recurring_Donation__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj437c25015871e1f9f0cd76dd8733960e</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100030112</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;npe03__Contact__r&quot;,&quot;dePrefix&quot;:&quot;npe03__Recurring_Donation__c:npe03__Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;RecordTypeId&quot;,&quot;msf_Phone__c&quot;,&quot;msf_MainEmail__c&quot;,&quot;msf_MemberType__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;msf_ShippingName__c&quot;,&quot;msf_CRMExternalId__c&quot;,&quot;msf_ContactDeleteReason__c&quot;,&quot;msf_NoAgradecimientosTelefono__c&quot;,&quot;msf_NoAgradecimientosDonativosEmailEx__c&quot;,&quot;msf_NoAgradecimientosDonativosTelefonoEx__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;cpm__Payment_Profile__c&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;npsp4hub__Payment_Profile__r&quot;,&quot;dePrefix&quot;:&quot;npe03__Recurring_Donation__c:npsp4hub__Payment_Profile__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;cpm__IBAN__c&quot;,&quot;cpm__Expiration_Date__c&quot;,&quot;cpm__Expiration_Year__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;npe03__Recurring_Donation__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;msf_AmountFormat__c&quot;,&quot;msf_AmountNotCurrency__c&quot;,&quot;msf_InstallmentPeriodEsp__c&quot;,&quot;npe03__Installment_Period__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj7257e0ac144bc42e71e2b16bd989584e_FireJBTrigger</name>
        <label>SalesforceObj7257e0ac144bc42e71e2b16bd989584e_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjb8cad37ff0317a0b4ccd45cffd366be5</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjb8cad37ff0317a0b4ccd45cffd366be5</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;npe03__Contact__c&quot;,&quot;relationshipName&quot;:&quot;npe03__Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>npe03__Recurring_Donation__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj7257e0ac144bc42e71e2b16bd989584e</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100030112</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;npe03__Contact__r&quot;,&quot;dePrefix&quot;:&quot;npe03__Recurring_Donation__c:npe03__Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;msf_Phone__c&quot;,&quot;msf_MainEmail__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;msf_ReturnedMail__c&quot;,&quot;msf_ShippingName__c&quot;,&quot;msf_LanguagePreferer__c&quot;,&quot;msf_RelationshipLevel__c&quot;,&quot;msf_LastAnnualizedQuota__c&quot;,&quot;msf_NoAgradecimientosCP__c&quot;,&quot;msf_NoAgradecimientosEmail__c&quot;,&quot;msf_NoAgradecimientosTelefono__c&quot;,&quot;msf_ContactInformationSummary__c&quot;,&quot;smartystreets__Mailing_Return_Code__c&quot;,&quot;msf_LastAnnualizedQuotaNotCurrency__c&quot;,&quot;msf_NoAgradecimientosDonativosPapelEx__c&quot;,&quot;msf_NoAgradecimientosDonativosEmailEx__c&quot;,&quot;msf_NoAgradecimientosDonativosTelefonoEx__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;npe03__Recurring_Donation__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;npe03__Amount__c&quot;,&quot;msf_LeadSource1__c&quot;,&quot;msf_LeadSource3__c&quot;,&quot;msf_AmountFormat__c&quot;,&quot;msf_AmountNotCurrency__c&quot;,&quot;msf_InstallmentPeriodEsp__c&quot;,&quot;npe03__Installment_Period__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj97da3c498c570092bf8930442bf8b596_FireJBTrigger</name>
        <label>SalesforceObj97da3c498c570092bf8930442bf8b596_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj437c25015871e1f9f0cd76dd8733960e</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj437c25015871e1f9f0cd76dd8733960e</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;npe03__Contact__c&quot;,&quot;relationshipName&quot;:&quot;npe03__Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>npe03__Recurring_Donation__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj97da3c498c570092bf8930442bf8b596</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100030112</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;npe03__Contact__r&quot;,&quot;dePrefix&quot;:&quot;npe03__Recurring_Donation__c:npe03__Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;msf_Program__c&quot;,&quot;msf_MainEmail__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;msf_ShippingName__c&quot;,&quot;msf_LanguagePreferer__c&quot;,&quot;msf_ContactDeleteReason__c&quot;,&quot;msf_NoAgradecimientosCP__c&quot;,&quot;msf_IsActiveRecurringDonor__c&quot;,&quot;msf_LastRecurringDonationDate__c&quot;,&quot;msf_ContactInformationSummary__c&quot;,&quot;smartystreets__Mailing_Return_Code__c&quot;,&quot;msf_NoAgradecimientosDonativosEmailEx__c&quot;,&quot;msf_NoAgradecimientosDonativosPapelEx__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;npe03__Recurring_Donation__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;msf_CancelationReason__c&quot;,&quot;npe03__Open_Ended_Status__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj9e90414cb647667c0ae86ae1fabbf465_FireJBTrigger</name>
        <label>SalesforceObj9e90414cb647667c0ae86ae1fabbf465_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;npe03__Contact__c&quot;,&quot;relationshipName&quot;:&quot;npe03__Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>npe03__Recurring_Donation__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj9e90414cb647667c0ae86ae1fabbf465</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100030112</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;npe03__Contact__r&quot;,&quot;dePrefix&quot;:&quot;npe03__Recurring_Donation__c:npe03__Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;msf_Phone__c&quot;,&quot;msf_MainEmail__c&quot;,&quot;msf_TrustedName__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;msf_ReturnedMail__c&quot;,&quot;msf_ShippingName__c&quot;,&quot;msf_RelationshipLevel__c&quot;,&quot;msf_NoAgradecimientosCP__c&quot;,&quot;msf_LastAnnualizedQuota__c&quot;,&quot;msf_NoAgradecimientosEmail__c&quot;,&quot;msf_NoAgradecimientosTelefono__c&quot;,&quot;msf_ContactInformationSummary__c&quot;,&quot;smartystreets__Mailing_Return_Code__c&quot;,&quot;msf_EntryDateCurrentRecurringDonor__c&quot;,&quot;msf_NoAgradecimientosDonativosPapelEx__c&quot;,&quot;msf_NoAgradecimientosDonativosEmailEx__c&quot;,&quot;msf_NoAgradecimientosDonativosTelefonoEx__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;npe03__Recurring_Donation__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;CreatedDate&quot;,&quot;npe03__Amount__c&quot;,&quot;msf_Canvasser__c&quot;,&quot;msf_LeadSource1__c&quot;,&quot;msf_LeadSource3__c&quot;,&quot;msf_AmountFormat__c&quot;,&quot;msf_CancelationDate__c&quot;,&quot;msf_AmountNotCurrency__c&quot;,&quot;npe03__Date_Established__c&quot;,&quot;msf_InstallmentPeriodEsp__c&quot;,&quot;npe03__Installment_Period__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObja4d14ced7b24d39b283d893666a0c5e4_FireJBTrigger</name>
        <label>SalesforceObja4d14ced7b24d39b283d893666a0c5e4_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj7257e0ac144bc42e71e2b16bd989584e</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj7257e0ac144bc42e71e2b16bd989584e</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;npe03__Contact__c&quot;,&quot;relationshipName&quot;:&quot;npe03__Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>npe03__Recurring_Donation__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObja4d14ced7b24d39b283d893666a0c5e4</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100030112</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;npe03__Contact__r&quot;,&quot;dePrefix&quot;:&quot;npe03__Recurring_Donation__c:npe03__Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;msf_Phone__c&quot;,&quot;msf_MainEmail__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;msf_ReturnedMail__c&quot;,&quot;msf_ShippingName__c&quot;,&quot;msf_RelationshipLevel__c&quot;,&quot;msf_NoAgradecimientosCP__c&quot;,&quot;msf_LastAnnualizedQuota__c&quot;,&quot;msf_NoAgradecimientosEmail__c&quot;,&quot;msf_NoAgradecimientosTelefono__c&quot;,&quot;msf_ContactInformationSummary__c&quot;,&quot;smartystreets__Mailing_Return_Code__c&quot;,&quot;msf_EntryDateCurrentRecurringDonor__c&quot;,&quot;msf_NoAgradecimientosDonativosPapelEx__c&quot;,&quot;msf_NoAgradecimientosDonativosEmailEx__c&quot;,&quot;msf_NoAgradecimientosDonativosTelefonoEx__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;npe03__Recurring_Donation__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;CreatedDate&quot;,&quot;npe03__Amount__c&quot;,&quot;msf_Canvasser__c&quot;,&quot;msf_LeadSource1__c&quot;,&quot;msf_LeadSource3__c&quot;,&quot;msf_AmountFormat__c&quot;,&quot;msf_CancelationDate__c&quot;,&quot;msf_AmountNotCurrency__c&quot;,&quot;npe03__Date_Established__c&quot;,&quot;msf_InstallmentPeriodEsp__c&quot;,&quot;npe03__Installment_Period__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjb8cad37ff0317a0b4ccd45cffd366be5_FireJBTrigger</name>
        <label>SalesforceObjb8cad37ff0317a0b4ccd45cffd366be5_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjc319ea99a9531b50bc7f6bb4fc1d17d4</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjc319ea99a9531b50bc7f6bb4fc1d17d4</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;npe03__Contact__c&quot;,&quot;relationshipName&quot;:&quot;npe03__Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>npe03__Recurring_Donation__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjb8cad37ff0317a0b4ccd45cffd366be5</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100030112</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;npe03__Contact__r&quot;,&quot;dePrefix&quot;:&quot;npe03__Recurring_Donation__c:npe03__Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;msf_Phone__c&quot;,&quot;msf_Program__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;msf_ReturnedMail__c&quot;,&quot;msf_ShippingName__c&quot;,&quot;msf_LanguagePreferer__c&quot;,&quot;msf_RelationshipLevel__c&quot;,&quot;msf_LastAnnualizedQuota__c&quot;,&quot;msf_ContactDeleteReason__c&quot;,&quot;msf_NoAgradecimientosCP__c&quot;,&quot;msf_NoAgradecimientosEmail__c&quot;,&quot;msf_ContactInformationSummary__c&quot;,&quot;msf_NoAgradecimientosTelefono__c&quot;,&quot;msf_FirstEntryDateRecurringDonor__c&quot;,&quot;smartystreets__Mailing_Return_Code__c&quot;,&quot;msf_LastAnnualizedQuotaNotCurrency__c&quot;,&quot;msf_NoAgradecimientosDonativosPapelEx__c&quot;,&quot;msf_NoAgradecimientosDonativosEmailEx__c&quot;,&quot;msf_NoAgradecimientosDonativosTelefonoEx__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;npe03__Recurring_Donation__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;CreatedDate&quot;,&quot;npe03__Amount__c&quot;,&quot;msf_Canvasser__c&quot;,&quot;msf_LeadSource1__c&quot;,&quot;msf_LeadSource3__c&quot;,&quot;msf_AmountFormat__c&quot;,&quot;msf_InstallmentPeriodEsp__c&quot;,&quot;npe03__Installment_Period__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjc319ea99a9531b50bc7f6bb4fc1d17d4_FireJBTrigger</name>
        <label>SalesforceObjc319ea99a9531b50bc7f6bb4fc1d17d4_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj14d3859e913513e30e53910b7512770c</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj14d3859e913513e30e53910b7512770c</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;npe03__Contact__c&quot;,&quot;relationshipName&quot;:&quot;npe03__Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>npe03__Recurring_Donation__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjc319ea99a9531b50bc7f6bb4fc1d17d4</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100030112</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;npe03__Contact__r&quot;,&quot;dePrefix&quot;:&quot;npe03__Recurring_Donation__c:npe03__Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;OwnerId&quot;,&quot;msf_Phone__c&quot;,&quot;msf_Nickname__c&quot;,&quot;msf_MainEmail__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;msf_ReturnedMail__c&quot;,&quot;msf_ShippingName__c&quot;,&quot;msf_LanguagePreferer__c&quot;,&quot;msf_RelationshipLevel__c&quot;,&quot;msf_LastAnnualizedQuota__c&quot;,&quot;msf_ContactDeleteReason__c&quot;,&quot;msf_NoAgradecimientosCP__c&quot;,&quot;msf_NoAgradecimientosEmail__c&quot;,&quot;msf_NoAgradecimientosTelefono__c&quot;,&quot;msf_ContactInformationSummary__c&quot;,&quot;msf_FirstEntryDateRecurringDonor__c&quot;,&quot;smartystreets__Mailing_Return_Code__c&quot;,&quot;msf_LastAnnualizedQuotaNotCurrency__c&quot;,&quot;msf_NoAgradecimientosDonativosPapelEx__c&quot;,&quot;msf_NoAgradecimientosDonativosEmailEx__c&quot;,&quot;msf_FirstCampaignRecurringDonorChannel__c&quot;,&quot;msf_NoAgradecimientosDonativosTelefonoEx__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;RecordType&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;RecordType&quot;,&quot;dePrefix&quot;:&quot;npe03__Recurring_Donation__c:RecordType:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;DeveloperName&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;npe03__Recurring_Donation__c:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;CreatedDate&quot;,&quot;npe03__Amount__c&quot;,&quot;msf_Canvasser__c&quot;,&quot;msf_LeadSource1__c&quot;,&quot;msf_LeadSource3__c&quot;,&quot;msf_AmountFormat__c&quot;,&quot;msf_CancelationDate__c&quot;,&quot;npsp4hub__Payment_Method__c&quot;,&quot;msf_InstallmentPeriodEsp__c&quot;,&quot;npe03__Installment_Period__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj14d3859e913513e30e53910b7512770c</name>
        <label>JB_Decision_Null_Check_SalesforceObj14d3859e913513e30e53910b7512770c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj97da3c498c570092bf8930442bf8b596</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj14d3859e913513e30e53910b7512770c_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj97da3c498c570092bf8930442bf8b596</targetReference>
            </connector>
            <label>JB_SalesforceObj14d3859e913513e30e53910b7512770c_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj14d3859e913513e30e53910b7512770c_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj14d3859e913513e30e53910b7512770c_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj14d3859e913513e30e53910b7512770c_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj437c25015871e1f9f0cd76dd8733960e</name>
        <label>JB_Decision_Null_Check_SalesforceObj437c25015871e1f9f0cd76dd8733960e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9e90414cb647667c0ae86ae1fabbf465</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj437c25015871e1f9f0cd76dd8733960e_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj9e90414cb647667c0ae86ae1fabbf465</targetReference>
            </connector>
            <label>JB_SalesforceObj437c25015871e1f9f0cd76dd8733960e_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj437c25015871e1f9f0cd76dd8733960e_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj437c25015871e1f9f0cd76dd8733960e_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj437c25015871e1f9f0cd76dd8733960e_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj7257e0ac144bc42e71e2b16bd989584e</name>
        <label>JB_Decision_Null_Check_SalesforceObj7257e0ac144bc42e71e2b16bd989584e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjb8cad37ff0317a0b4ccd45cffd366be5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj7257e0ac144bc42e71e2b16bd989584e_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjb8cad37ff0317a0b4ccd45cffd366be5</targetReference>
            </connector>
            <label>JB_SalesforceObj7257e0ac144bc42e71e2b16bd989584e_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj7257e0ac144bc42e71e2b16bd989584e_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj7257e0ac144bc42e71e2b16bd989584e_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj7257e0ac144bc42e71e2b16bd989584e_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj97da3c498c570092bf8930442bf8b596</name>
        <label>JB_Decision_Null_Check_SalesforceObj97da3c498c570092bf8930442bf8b596</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj437c25015871e1f9f0cd76dd8733960e</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj97da3c498c570092bf8930442bf8b596_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj437c25015871e1f9f0cd76dd8733960e</targetReference>
            </connector>
            <label>JB_SalesforceObj97da3c498c570092bf8930442bf8b596_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj97da3c498c570092bf8930442bf8b596_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj97da3c498c570092bf8930442bf8b596_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj97da3c498c570092bf8930442bf8b596_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj9e90414cb647667c0ae86ae1fabbf465</name>
        <label>JB_Decision_Null_Check_SalesforceObj9e90414cb647667c0ae86ae1fabbf465</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj9e90414cb647667c0ae86ae1fabbf465_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj9e90414cb647667c0ae86ae1fabbf465_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj9e90414cb647667c0ae86ae1fabbf465_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj9e90414cb647667c0ae86ae1fabbf465_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj9e90414cb647667c0ae86ae1fabbf465_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObja4d14ced7b24d39b283d893666a0c5e4</name>
        <label>JB_Decision_Null_Check_SalesforceObja4d14ced7b24d39b283d893666a0c5e4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj7257e0ac144bc42e71e2b16bd989584e</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObja4d14ced7b24d39b283d893666a0c5e4_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj7257e0ac144bc42e71e2b16bd989584e</targetReference>
            </connector>
            <label>JB_SalesforceObja4d14ced7b24d39b283d893666a0c5e4_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObja4d14ced7b24d39b283d893666a0c5e4_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja4d14ced7b24d39b283d893666a0c5e4_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObja4d14ced7b24d39b283d893666a0c5e4_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjb8cad37ff0317a0b4ccd45cffd366be5</name>
        <label>JB_Decision_Null_Check_SalesforceObjb8cad37ff0317a0b4ccd45cffd366be5</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjc319ea99a9531b50bc7f6bb4fc1d17d4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjb8cad37ff0317a0b4ccd45cffd366be5_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjc319ea99a9531b50bc7f6bb4fc1d17d4</targetReference>
            </connector>
            <label>JB_SalesforceObjb8cad37ff0317a0b4ccd45cffd366be5_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjb8cad37ff0317a0b4ccd45cffd366be5_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjb8cad37ff0317a0b4ccd45cffd366be5_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjb8cad37ff0317a0b4ccd45cffd366be5_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjc319ea99a9531b50bc7f6bb4fc1d17d4</name>
        <label>JB_Decision_Null_Check_SalesforceObjc319ea99a9531b50bc7f6bb4fc1d17d4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj14d3859e913513e30e53910b7512770c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjc319ea99a9531b50bc7f6bb4fc1d17d4_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj14d3859e913513e30e53910b7512770c</targetReference>
            </connector>
            <label>JB_SalesforceObjc319ea99a9531b50bc7f6bb4fc1d17d4_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjc319ea99a9531b50bc7f6bb4fc1d17d4_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjc319ea99a9531b50bc7f6bb4fc1d17d4_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjc319ea99a9531b50bc7f6bb4fc1d17d4_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj14d3859e913513e30e53910b7512770c_Decision</name>
        <label>JB_SalesforceObj14d3859e913513e30e53910b7512770c_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj97da3c498c570092bf8930442bf8b596</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj14d3859e913513e30e53910b7512770c</name>
            <conditionLogic>(1 And  ( ( (2 AND 3)  AND  (4 AND 5) )  AND  (6 AND 7) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.npe03__Open_Ended_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__r.msf_ContactDeleteReason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__r.msf_HasWelcomeRecurringDonor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120O000000LBoDQAW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj14d3859e913513e30e53910b7512770c_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj14d3859e913513e30e53910b7512770c</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj437c25015871e1f9f0cd76dd8733960e_Decision</name>
        <label>JB_SalesforceObj437c25015871e1f9f0cd76dd8733960e_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9e90414cb647667c0ae86ae1fabbf465</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj437c25015871e1f9f0cd76dd8733960e</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_CancelationReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tarjeta crdito caducada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj437c25015871e1f9f0cd76dd8733960e_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj437c25015871e1f9f0cd76dd8733960e</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj437c25015871e1f9f0cd76dd8733960e_State_change_Decision</name>
        <label>JB_SalesforceObj437c25015871e1f9f0cd76dd8733960e_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj9e90414cb647667c0ae86ae1fabbf465</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj437c25015871e1f9f0cd76dd8733960e</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_CancelationReason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tarjeta crdito caducada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj437c25015871e1f9f0cd76dd8733960e_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj437c25015871e1f9f0cd76dd8733960e</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj7257e0ac144bc42e71e2b16bd989584e_Decision</name>
        <label>JB_SalesforceObj7257e0ac144bc42e71e2b16bd989584e_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjb8cad37ff0317a0b4ccd45cffd366be5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj7257e0ac144bc42e71e2b16bd989584e</name>
            <conditionLogic>( (1 AND 2)  And  ( ( (3 AND 4)  AND  (5 AND 6) )  AND  (7 AND 8) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.npe03__Open_Ended_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120O000000LBoOQAW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__r.msf_ContactDeleteReason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__r.msf_HasWelcomeRecurringDonor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120O000000LBoDQAW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj7257e0ac144bc42e71e2b16bd989584e_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj7257e0ac144bc42e71e2b16bd989584e</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj97da3c498c570092bf8930442bf8b596_Decision</name>
        <label>JB_SalesforceObj97da3c498c570092bf8930442bf8b596_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj437c25015871e1f9f0cd76dd8733960e</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj97da3c498c570092bf8930442bf8b596</name>
            <conditionLogic>( (1 AND 2)  And  ( ( (3 AND 4)  AND  (5 AND 6) )  AND  (7 AND 8) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Open_Ended_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__r.msf_IsActiveRecurringDonor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Baja</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__r.msf_ContactDeleteReason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120O000000LBoCQAW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj97da3c498c570092bf8930442bf8b596_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj97da3c498c570092bf8930442bf8b596</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj97da3c498c570092bf8930442bf8b596_State_change_Decision</name>
        <label>JB_SalesforceObj97da3c498c570092bf8930442bf8b596_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj437c25015871e1f9f0cd76dd8733960e</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj97da3c498c570092bf8930442bf8b596</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.npe03__Open_Ended_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj97da3c498c570092bf8930442bf8b596_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj97da3c498c570092bf8930442bf8b596</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj9e90414cb647667c0ae86ae1fabbf465_Decision</name>
        <label>JB_SalesforceObj9e90414cb647667c0ae86ae1fabbf465_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj9e90414cb647667c0ae86ae1fabbf465</name>
            <conditionLogic>(1 And  ( ( (2 AND 3)  AND  (4 AND 5) )  AND  (6 AND 7) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.npe03__Open_Ended_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__r.msf_ContactDeleteReason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120O000000LBoCQAW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__r.msf_HasWelcomeRecurringDonor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj9e90414cb647667c0ae86ae1fabbf465_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj9e90414cb647667c0ae86ae1fabbf465</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObja4d14ced7b24d39b283d893666a0c5e4_Decision</name>
        <label>JB_SalesforceObja4d14ced7b24d39b283d893666a0c5e4_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj7257e0ac144bc42e71e2b16bd989584e</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObja4d14ced7b24d39b283d893666a0c5e4</name>
            <conditionLogic>(1 And  ( ( ( ( ( (2 AND 3)  AND  (4 AND 5) )  AND  (6 AND 7) )  AND  (8 AND 9) )  AND  (10 AND 11) )  AND  (12 AND 13) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__r.msf_ContactDeleteReason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__r.msf_HasWelcomeRecurringDonor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120O000000LBoCQAW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__r.msf_Level__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>a0l0O00000k727RQAQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__r.msf_RelationshipLevel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__r.msf_RelationshipLevel__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>a0l0O00000k727RQAQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObja4d14ced7b24d39b283d893666a0c5e4_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObja4d14ced7b24d39b283d893666a0c5e4</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjb8cad37ff0317a0b4ccd45cffd366be5_Decision</name>
        <label>JB_SalesforceObjb8cad37ff0317a0b4ccd45cffd366be5_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjc319ea99a9531b50bc7f6bb4fc1d17d4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjb8cad37ff0317a0b4ccd45cffd366be5</name>
            <conditionLogic>( (1 AND 2)  And  ( ( ( (3 AND 4)  AND  (5 AND 6) )  AND  (7 AND 8) )  AND  (9 AND 10) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.npe03__Open_Ended_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120O000000LBoOQAW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__r.msf_ContactDeleteReason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__r.msf_HasWelcomeRecurringDonor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120O000000LBoCQAW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__r.msf_LastAnnualizedQuotaNotCurrency__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjb8cad37ff0317a0b4ccd45cffd366be5_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjb8cad37ff0317a0b4ccd45cffd366be5</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjc319ea99a9531b50bc7f6bb4fc1d17d4_Decision</name>
        <label>JB_SalesforceObjc319ea99a9531b50bc7f6bb4fc1d17d4_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj14d3859e913513e30e53910b7512770c</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjc319ea99a9531b50bc7f6bb4fc1d17d4</name>
            <conditionLogic>( (1 AND 2)  And  ( ( (3 AND 4)  AND  (5 AND 6) )  AND  (7 AND 8) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.npe03__Open_Ended_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120O000000LBoOQAW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__r.msf_ContactDeleteReason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__r.msf_HasWelcomeRecurringDonor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.npe03__Contact__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120O000000LBoCQAW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjc319ea99a9531b50bc7f6bb4fc1d17d4_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjc319ea99a9531b50bc7f6bb4fc1d17d4</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_npe03_Recurring_Donation_c</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObja4d14ced7b24d39b283d893666a0c5e4</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>npe03__Recurring_Donation__c</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>npe03__Recurring_Donation__c</objectType>
    </variables>
</Flow>
