force-app/main/default/flows/JBSystemFlow_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj062069ebc25c1262f5ddaf921d1240f0_FireJBTrigger</name>
        <label>SalesforceObj062069ebc25c1262f5ddaf921d1240f0_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj61b93bc5e8209a38d1a31ac7600147ed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj61b93bc5e8209a38d1a31ac7600147ed</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;msf_DonationVehicleContact__c&quot;,&quot;relationshipName&quot;:&quot;msf_DonationVehicleContact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj062069ebc25c1262f5ddaf921d1240f0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100030112</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;msf_DonationVehicleContact__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:msf_DonationVehicleContact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;msf_TrustedName__c&quot;,&quot;msf_ReturnedMail__c&quot;,&quot;msf_ShippingName__c&quot;,&quot;msf_ShippingEntity__c&quot;,&quot;msf_RelationshipLevel__c&quot;,&quot;msf_NoAgradecimientosCP__c&quot;,&quot;msf_NoAgradecimientosEmail__c&quot;,&quot;msf_NoAgradecimientosTelefono__c&quot;,&quot;msf_ContactInformationSummary__c&quot;,&quot;smartystreets__Mailing_Return_Code__c&quot;,&quot;msf_NoAgradecimientosDonativosEmailEx__c&quot;,&quot;msf_NoAgradecimientosDonativosPapelEx__c&quot;,&quot;msf_NoAgradecimientosDonativosTelefonoEx__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Amount&quot;,&quot;CloseDate&quot;,&quot;StageName&quot;,&quot;LeadSource&quot;,&quot;msf_Canvasser__c&quot;,&quot;msf_AmountFormat__c&quot;,&quot;msf_CRMExternalId__c&quot;,&quot;msf_CurrentCampaign__c&quot;,&quot;msf_AmountNotCurrency__c&quot;,&quot;npsp4hub__Payment_Method__c&quot;,&quot;msf_TypeFundraisingContribution__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj32a1c0aad93ff4c59fdf9ecc156214ee_FireJBTrigger</name>
        <label>SalesforceObj32a1c0aad93ff4c59fdf9ecc156214ee_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj75b81b65c640aeb1d0735134211394c0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj75b81b65c640aeb1d0735134211394c0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;msf_DonationVehicleContact__c&quot;,&quot;relationshipName&quot;:&quot;msf_DonationVehicleContact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj32a1c0aad93ff4c59fdf9ecc156214ee</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100030112</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;msf_DonationVehicleContact__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:msf_DonationVehicleContact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;msf_Phone__c&quot;,&quot;msf_Nickname__c&quot;,&quot;msf_MainEmail__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;msf_ReturnedMail__c&quot;,&quot;msf_ShippingName__c&quot;,&quot;msf_NoAgradecimientosCP__c&quot;,&quot;msf_NoAgradecimientosEmail__c&quot;,&quot;msf_NoAgradecimientosTelefono__c&quot;,&quot;msf_ContactInformationSummary__c&quot;,&quot;smartystreets__Mailing_Return_Code__c&quot;,&quot;msf_NoAgradecimientosDonativosEmailEx__c&quot;,&quot;msf_NoAgradecimientosDonativosPapelEx__c&quot;,&quot;msf_NoAgradecimientosDonativosTelefonoEx__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;npsp__Primary_Contact__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:npsp__Primary_Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;msf_LanguagePreferer__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Amount&quot;,&quot;CloseDate&quot;,&quot;StageName&quot;,&quot;LeadSource&quot;,&quot;msf_Canvasser__c&quot;,&quot;msf_AmountFormat__c&quot;,&quot;msf_CRMExternalId__c&quot;,&quot;msf_CurrentCampaign__c&quot;,&quot;msf_LeadSource3Level__c&quot;,&quot;msf_AmountNotCurrency__c&quot;,&quot;npsp4hub__Payment_Method__c&quot;,&quot;msf_TypeFundraisingContribution__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj557a24c77569a7776a589970ef45586b_FireJBTrigger</name>
        <label>SalesforceObj557a24c77569a7776a589970ef45586b_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj78d40f1fceaca6493800ed2eb92f5d8b</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj78d40f1fceaca6493800ed2eb92f5d8b</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;msf_DonationVehicleContact__c&quot;,&quot;relationshipName&quot;:&quot;msf_DonationVehicleContact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj557a24c77569a7776a589970ef45586b</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100030112</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;msf_DonationVehicleContact__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:msf_DonationVehicleContact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;msf_Phone__c&quot;,&quot;msf_Nickname__c&quot;,&quot;msf_MainEmail__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;msf_ReturnedMail__c&quot;,&quot;msf_LanguagePreferer__c&quot;,&quot;msf_NoAgradecimientosCP__c&quot;,&quot;msf_NoAgradecimientosEmail__c&quot;,&quot;msf_NoAgradecimientosTelefono__c&quot;,&quot;msf_ContactInformationSummary__c&quot;,&quot;smartystreets__Mailing_Return_Code__c&quot;,&quot;msf_NoAgradecimientosDonativosEmailEx__c&quot;,&quot;msf_NoAgradecimientosDonativosPapelEx__c&quot;,&quot;msf_NoAgradecimientosDonativosTelefonoEx__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Amount&quot;,&quot;CloseDate&quot;,&quot;LeadSource&quot;,&quot;msf_Canvasser__c&quot;,&quot;msf_AmountFormat__c&quot;,&quot;msf_CurrentCampaign__c&quot;,&quot;msf_LeadSource3Level__c&quot;,&quot;msf_AmountNotCurrency__c&quot;,&quot;npsp4hub__Payment_Method__c&quot;,&quot;msf_TypeFundraisingContribution__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;RecordType&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;RecordType&quot;,&quot;dePrefix&quot;:&quot;Opportunity:RecordType:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj61b93bc5e8209a38d1a31ac7600147ed_FireJBTrigger</name>
        <label>SalesforceObj61b93bc5e8209a38d1a31ac7600147ed_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj6405b40a44bad87f7cd544c12bbeeca0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj6405b40a44bad87f7cd544c12bbeeca0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;msf_DonationVehicleContact__c&quot;,&quot;relationshipName&quot;:&quot;msf_DonationVehicleContact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj61b93bc5e8209a38d1a31ac7600147ed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100030112</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;msf_DonationVehicleContact__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:msf_DonationVehicleContact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;msf_Phone__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;msf_ReturnedMail__c&quot;,&quot;msf_ShippingName__c&quot;,&quot;msf_RelationshipLevel__c&quot;,&quot;msf_NoAgradecimientosCP__c&quot;,&quot;msf_NoAgradecimientosEmail__c&quot;,&quot;msf_ContactInformationSummary__c&quot;,&quot;smartystreets__Mailing_Return_Code__c&quot;,&quot;msf_NoAgradecimientosDonativosEmailEx__c&quot;,&quot;msf_NoAgradecimientosDonativosPapelEx__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Amount&quot;,&quot;CloseDate&quot;,&quot;LeadSource&quot;,&quot;msf_Canvasser__c&quot;,&quot;msf_AmountFormat__c&quot;,&quot;msf_CRMExternalId__c&quot;,&quot;msf_CurrentCampaign__c&quot;,&quot;msf_AmountNotCurrency__c&quot;,&quot;npsp4hub__Payment_Method__c&quot;,&quot;msf_TypeFundraisingContribution__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj6405b40a44bad87f7cd544c12bbeeca0_FireJBTrigger</name>
        <label>SalesforceObj6405b40a44bad87f7cd544c12bbeeca0_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjea5f450bbaf752a557f0ed52f4d090bb</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjea5f450bbaf752a557f0ed52f4d090bb</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;msf_DonationVehicleContact__c&quot;,&quot;relationshipName&quot;:&quot;msf_DonationVehicleContact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj6405b40a44bad87f7cd544c12bbeeca0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100030112</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;msf_DonationVehicleContact__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:msf_DonationVehicleContact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;msf_Phone__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;msf_ReturnedMail__c&quot;,&quot;msf_ShippingName__c&quot;,&quot;msf_RelationshipLevel__c&quot;,&quot;msf_NoAgradecimientosCP__c&quot;,&quot;msf_NoAgradecimientosEmail__c&quot;,&quot;msf_ContactInformationSummary__c&quot;,&quot;smartystreets__Mailing_Return_Code__c&quot;,&quot;msf_NoAgradecimientosDonativosEmailEx__c&quot;,&quot;msf_NoAgradecimientosDonativosPapelEx__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Amount&quot;,&quot;CloseDate&quot;,&quot;StageName&quot;,&quot;LeadSource&quot;,&quot;msf_Canvasser__c&quot;,&quot;msf_AmountFormat__c&quot;,&quot;msf_CRMExternalId__c&quot;,&quot;msf_CurrentCampaign__c&quot;,&quot;msf_AmountNotCurrency__c&quot;,&quot;npsp4hub__Payment_Method__c&quot;,&quot;msf_TypeFundraisingContribution__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj7359a5e4ceadc2d78b8d54f709f52581_FireJBTrigger</name>
        <label>SalesforceObj7359a5e4ceadc2d78b8d54f709f52581_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;msf_DonationVehicleContact__c&quot;,&quot;relationshipName&quot;:&quot;msf_DonationVehicleContact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj7359a5e4ceadc2d78b8d54f709f52581</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100030112</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;msf_DonationVehicleContact__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:msf_DonationVehicleContact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;OwnerId&quot;,&quot;MobilePhone&quot;,&quot;msf_Phone__c&quot;,&quot;msf_Program__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;msf_ShippingName__c&quot;,&quot;msf_ReturnedMail__c&quot;,&quot;msf_RelationshipLevel__c&quot;,&quot;msf_NoAgradecimientosCP__c&quot;,&quot;msf_NoAgradecimientosEmail__c&quot;,&quot;msf_ContactInformationSummary__c&quot;,&quot;msf_NoAgradecimientosTelefono__c&quot;,&quot;smartystreets__Mailing_Return_Code__c&quot;,&quot;msf_NoAgradecimientosDonativosPapelEx__c&quot;,&quot;msf_NoAgradecimientosDonativosEmailEx__c&quot;,&quot;msf_NoAgradecimientosDonativosTelefonoEx__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Amount&quot;,&quot;CloseDate&quot;,&quot;StageName&quot;,&quot;LeadSource&quot;,&quot;msf_Canvasser__c&quot;,&quot;msf_AmountFormat__c&quot;,&quot;msf_CRMExternalId__c&quot;,&quot;msf_CurrentCampaign__c&quot;,&quot;msf_LeadSource3Level__c&quot;,&quot;msf_LeadSource2Level__c&quot;,&quot;msf_AmountNotCurrency__c&quot;,&quot;msf_CurrentLeadSource3__c&quot;,&quot;msf_CurrentLeadSource1__c&quot;,&quot;msf_CurrentLeadSource2__c&quot;,&quot;npsp4hub__Payment_Method__c&quot;,&quot;msf_ContactRelationshipLevel__c&quot;,&quot;msf_TypeFundraisingContribution__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj75b81b65c640aeb1d0735134211394c0_FireJBTrigger</name>
        <label>SalesforceObj75b81b65c640aeb1d0735134211394c0_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj7a978b1731c1ebf2f2754d1dd6238f72</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj7a978b1731c1ebf2f2754d1dd6238f72</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;msf_DonationVehicleContact__c&quot;,&quot;relationshipName&quot;:&quot;msf_DonationVehicleContact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj75b81b65c640aeb1d0735134211394c0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100030112</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;msf_DonationVehicleContact__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:msf_DonationVehicleContact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;msf_Phone__c&quot;,&quot;msf_Nickname__c&quot;,&quot;msf_MainEmail__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;msf_ReturnedMail__c&quot;,&quot;msf_NoAgradecimientosCP__c&quot;,&quot;msf_NoAgradecimientosEmail__c&quot;,&quot;msf_NoAgradecimientosTelefono__c&quot;,&quot;msf_ContactInformationSummary__c&quot;,&quot;smartystreets__Mailing_Return_Code__c&quot;,&quot;msf_NoAgradecimientosDonativosEmailEx__c&quot;,&quot;msf_NoAgradecimientosDonativosPapelEx__c&quot;,&quot;msf_NoAgradecimientosDonativosTelefonoEx__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Amount&quot;,&quot;CloseDate&quot;,&quot;StageName&quot;,&quot;LeadSource&quot;,&quot;msf_Canvasser__c&quot;,&quot;msf_AmountFormat__c&quot;,&quot;msf_CurrentCampaign__c&quot;,&quot;msf_LeadSource3Level__c&quot;,&quot;msf_AmountNotCurrency__c&quot;,&quot;npsp4hub__Payment_Method__c&quot;,&quot;msf_TypeFundraisingContribution__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;RecordType&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;RecordType&quot;,&quot;dePrefix&quot;:&quot;Opportunity:RecordType:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;DeveloperName&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj78d40f1fceaca6493800ed2eb92f5d8b_FireJBTrigger</name>
        <label>SalesforceObj78d40f1fceaca6493800ed2eb92f5d8b_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj7359a5e4ceadc2d78b8d54f709f52581</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj7359a5e4ceadc2d78b8d54f709f52581</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;msf_DonationVehicleContact__c&quot;,&quot;relationshipName&quot;:&quot;msf_DonationVehicleContact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj78d40f1fceaca6493800ed2eb92f5d8b</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100030112</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;msf_DonationVehicleContact__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:msf_DonationVehicleContact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;msf_Phone__c&quot;,&quot;msf_Nickname__c&quot;,&quot;msf_MainEmail__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;msf_ReturnedMail__c&quot;,&quot;msf_ShippingName__c&quot;,&quot;msf_NoAgradecimientosCP__c&quot;,&quot;msf_NoAgradecimientosEmail__c&quot;,&quot;msf_NoAgradecimientosTelefono__c&quot;,&quot;msf_ContactInformationSummary__c&quot;,&quot;smartystreets__Mailing_Return_Code__c&quot;,&quot;msf_NoAgradecimientosDonativosEmailEx__c&quot;,&quot;msf_NoAgradecimientosDonativosPapelEx__c&quot;,&quot;msf_NoAgradecimientosDonativosTelefonoEx__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;npsp__Primary_Contact__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:npsp__Primary_Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;msf_LanguagePreferer__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Amount&quot;,&quot;CloseDate&quot;,&quot;LeadSource&quot;,&quot;msf_Canvasser__c&quot;,&quot;msf_AmountFormat__c&quot;,&quot;msf_CRMExternalId__c&quot;,&quot;msf_CurrentCampaign__c&quot;,&quot;msf_LeadSource3Level__c&quot;,&quot;msf_AmountNotCurrency__c&quot;,&quot;npsp4hub__Payment_Method__c&quot;,&quot;msf_TypeFundraisingContribution__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj7a978b1731c1ebf2f2754d1dd6238f72_FireJBTrigger</name>
        <label>SalesforceObj7a978b1731c1ebf2f2754d1dd6238f72_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjda82c043ebfd82deb0c6c9f2dc7bf53a</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjda82c043ebfd82deb0c6c9f2dc7bf53a</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;msf_DonationVehicleContact__c&quot;,&quot;relationshipName&quot;:&quot;msf_DonationVehicleContact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj7a978b1731c1ebf2f2754d1dd6238f72</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100030112</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;msf_DonationVehicleContact__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:msf_DonationVehicleContact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;msf_Phone__c&quot;,&quot;msf_Nickname__c&quot;,&quot;msf_MainEmail__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;msf_ReturnedMail__c&quot;,&quot;msf_ShippingName__c&quot;,&quot;msf_NoAgradecimientosCP__c&quot;,&quot;msf_NoAgradecimientosEmail__c&quot;,&quot;msf_NoAgradecimientosTelefono__c&quot;,&quot;msf_ContactInformationSummary__c&quot;,&quot;smartystreets__Mailing_Return_Code__c&quot;,&quot;msf_NoAgradecimientosDonativosEmailEx__c&quot;,&quot;msf_NoAgradecimientosDonativosPapelEx__c&quot;,&quot;msf_NoAgradecimientosDonativosTelefonoEx__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;npsp__Primary_Contact__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:npsp__Primary_Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;msf_LanguagePreferer__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Amount&quot;,&quot;CloseDate&quot;,&quot;StageName&quot;,&quot;LeadSource&quot;,&quot;msf_Canvasser__c&quot;,&quot;msf_AmountFormat__c&quot;,&quot;msf_CurrentCampaign__c&quot;,&quot;msf_LeadSource3Level__c&quot;,&quot;msf_AmountNotCurrency__c&quot;,&quot;npsp4hub__Payment_Method__c&quot;,&quot;msf_TypeFundraisingContribution__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjca1237575dfa129480121e83b242748a_FireJBTrigger</name>
        <label>SalesforceObjca1237575dfa129480121e83b242748a_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj062069ebc25c1262f5ddaf921d1240f0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj062069ebc25c1262f5ddaf921d1240f0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;msf_DonationVehicleContact__c&quot;,&quot;relationshipName&quot;:&quot;msf_DonationVehicleContact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjca1237575dfa129480121e83b242748a</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100030112</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;msf_DonationVehicleContact__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:msf_DonationVehicleContact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;msf_TrustedName__c&quot;,&quot;msf_ReturnedMail__c&quot;,&quot;msf_ShippingName__c&quot;,&quot;msf_ShippingEntity__c&quot;,&quot;msf_RelationshipLevel__c&quot;,&quot;msf_NoAgradecimientosCP__c&quot;,&quot;msf_NoAgradecimientosEmail__c&quot;,&quot;msf_NoAgradecimientosTelefono__c&quot;,&quot;msf_ContactInformationSummary__c&quot;,&quot;smartystreets__Mailing_Return_Code__c&quot;,&quot;msf_NoAgradecimientosDonativosEmailEx__c&quot;,&quot;msf_NoAgradecimientosDonativosPapelEx__c&quot;,&quot;msf_NoAgradecimientosDonativosTelefonoEx__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Amount&quot;,&quot;CloseDate&quot;,&quot;LeadSource&quot;,&quot;msf_Canvasser__c&quot;,&quot;msf_AmountFormat__c&quot;,&quot;msf_CRMExternalId__c&quot;,&quot;msf_CurrentCampaign__c&quot;,&quot;msf_AmountNotCurrency__c&quot;,&quot;npsp4hub__Payment_Method__c&quot;,&quot;msf_TypeFundraisingContribution__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjda82c043ebfd82deb0c6c9f2dc7bf53a_FireJBTrigger</name>
        <label>SalesforceObjda82c043ebfd82deb0c6c9f2dc7bf53a_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj557a24c77569a7776a589970ef45586b</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj557a24c77569a7776a589970ef45586b</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;msf_DonationVehicleContact__c&quot;,&quot;relationshipName&quot;:&quot;msf_DonationVehicleContact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjda82c043ebfd82deb0c6c9f2dc7bf53a</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100030112</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;msf_DonationVehicleContact__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:msf_DonationVehicleContact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;msf_Phone__c&quot;,&quot;msf_Nickname__c&quot;,&quot;msf_MainEmail__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;msf_ReturnedMail__c&quot;,&quot;msf_ShippingName__c&quot;,&quot;msf_NoAgradecimientosCP__c&quot;,&quot;msf_NoAgradecimientosEmail__c&quot;,&quot;msf_NoAgradecimientosTelefono__c&quot;,&quot;msf_ContactInformationSummary__c&quot;,&quot;smartystreets__Mailing_Return_Code__c&quot;,&quot;msf_NoAgradecimientosDonativosEmailEx__c&quot;,&quot;msf_NoAgradecimientosDonativosPapelEx__c&quot;,&quot;msf_NoAgradecimientosDonativosTelefonoEx__c&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;npsp__Primary_Contact__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:npsp__Primary_Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;msf_LanguagePreferer__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Amount&quot;,&quot;CloseDate&quot;,&quot;LeadSource&quot;,&quot;msf_Canvasser__c&quot;,&quot;msf_AmountFormat__c&quot;,&quot;msf_CurrentCampaign__c&quot;,&quot;msf_LeadSource3Level__c&quot;,&quot;msf_AmountNotCurrency__c&quot;,&quot;npsp4hub__Payment_Method__c&quot;,&quot;msf_TypeFundraisingContribution__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjea5f450bbaf752a557f0ed52f4d090bb_FireJBTrigger</name>
        <label>SalesforceObjea5f450bbaf752a557f0ed52f4d090bb_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj32a1c0aad93ff4c59fdf9ecc156214ee</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj32a1c0aad93ff4c59fdf9ecc156214ee</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;npsp__Primary_Contact__c&quot;,&quot;relationshipName&quot;:&quot;npsp__Primary_Contact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjea5f450bbaf752a557f0ed52f4d090bb</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100030112</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;npsp__Primary_Contact__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:npsp__Primary_Contact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;HasOptedOutOfEmail&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjec08beeb2e7250713c1cd583c927edaf_FireJBTrigger</name>
        <label>SalesforceObjec08beeb2e7250713c1cd583c927edaf_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjca1237575dfa129480121e83b242748a</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjca1237575dfa129480121e83b242748a</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;msf_DonationVehicleContact__c&quot;,&quot;relationshipName&quot;:&quot;msf_DonationVehicleContact__r&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjec08beeb2e7250713c1cd583c927edaf</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>100030112</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;msf_DonationVehicleContact__r&quot;,&quot;dePrefix&quot;:&quot;Opportunity:msf_DonationVehicleContact__r:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;OwnerId&quot;,&quot;MobilePhone&quot;,&quot;msf_Phone__c&quot;,&quot;msf_Program__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;msf_ShippingName__c&quot;,&quot;msf_ReturnedMail__c&quot;,&quot;msf_RelationshipLevel__c&quot;,&quot;msf_NoAgradecimientosCP__c&quot;,&quot;msf_NoAgradecimientosEmail__c&quot;,&quot;msf_ContactInformationSummary__c&quot;,&quot;msf_NoAgradecimientosTelefono__c&quot;,&quot;smartystreets__Mailing_Return_Code__c&quot;,&quot;msf_NoAgradecimientosDonativosPapelEx__c&quot;,&quot;msf_NoAgradecimientosDonativosEmailEx__c&quot;,&quot;msf_NoAgradecimientosDonativosTelefonoEx__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Opportunity:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Amount&quot;,&quot;CloseDate&quot;,&quot;LeadSource&quot;,&quot;msf_Canvasser__c&quot;,&quot;msf_AmountFormat__c&quot;,&quot;msf_CRMExternalId__c&quot;,&quot;msf_CurrentCampaign__c&quot;,&quot;msf_LeadSource3Level__c&quot;,&quot;msf_AmountNotCurrency__c&quot;,&quot;msf_CurrentLeadSource3__c&quot;,&quot;npsp4hub__Payment_Method__c&quot;,&quot;msf_TypeFundraisingContribution__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj062069ebc25c1262f5ddaf921d1240f0</name>
        <label>JB_Decision_Null_Check_SalesforceObj062069ebc25c1262f5ddaf921d1240f0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj61b93bc5e8209a38d1a31ac7600147ed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj062069ebc25c1262f5ddaf921d1240f0_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj61b93bc5e8209a38d1a31ac7600147ed</targetReference>
            </connector>
            <label>JB_SalesforceObj062069ebc25c1262f5ddaf921d1240f0_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj062069ebc25c1262f5ddaf921d1240f0_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj062069ebc25c1262f5ddaf921d1240f0_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj062069ebc25c1262f5ddaf921d1240f0_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj062069ebc25c1262f5ddaf921d1240f0_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj062069ebc25c1262f5ddaf921d1240f0_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj062069ebc25c1262f5ddaf921d1240f0_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj32a1c0aad93ff4c59fdf9ecc156214ee</name>
        <label>JB_Decision_Null_Check_SalesforceObj32a1c0aad93ff4c59fdf9ecc156214ee</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj75b81b65c640aeb1d0735134211394c0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj32a1c0aad93ff4c59fdf9ecc156214ee_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj75b81b65c640aeb1d0735134211394c0</targetReference>
            </connector>
            <label>JB_SalesforceObj32a1c0aad93ff4c59fdf9ecc156214ee_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj32a1c0aad93ff4c59fdf9ecc156214ee_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj32a1c0aad93ff4c59fdf9ecc156214ee_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj32a1c0aad93ff4c59fdf9ecc156214ee_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj32a1c0aad93ff4c59fdf9ecc156214ee_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj32a1c0aad93ff4c59fdf9ecc156214ee_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj32a1c0aad93ff4c59fdf9ecc156214ee_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj557a24c77569a7776a589970ef45586b</name>
        <label>JB_Decision_Null_Check_SalesforceObj557a24c77569a7776a589970ef45586b</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj78d40f1fceaca6493800ed2eb92f5d8b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj557a24c77569a7776a589970ef45586b_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj78d40f1fceaca6493800ed2eb92f5d8b</targetReference>
            </connector>
            <label>JB_SalesforceObj557a24c77569a7776a589970ef45586b_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj557a24c77569a7776a589970ef45586b_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj557a24c77569a7776a589970ef45586b_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj557a24c77569a7776a589970ef45586b_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj557a24c77569a7776a589970ef45586b_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj557a24c77569a7776a589970ef45586b_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj557a24c77569a7776a589970ef45586b_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj61b93bc5e8209a38d1a31ac7600147ed</name>
        <label>JB_Decision_Null_Check_SalesforceObj61b93bc5e8209a38d1a31ac7600147ed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj6405b40a44bad87f7cd544c12bbeeca0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj61b93bc5e8209a38d1a31ac7600147ed_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj6405b40a44bad87f7cd544c12bbeeca0</targetReference>
            </connector>
            <label>JB_SalesforceObj61b93bc5e8209a38d1a31ac7600147ed_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj61b93bc5e8209a38d1a31ac7600147ed_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj61b93bc5e8209a38d1a31ac7600147ed_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj61b93bc5e8209a38d1a31ac7600147ed_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj61b93bc5e8209a38d1a31ac7600147ed_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj61b93bc5e8209a38d1a31ac7600147ed_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj61b93bc5e8209a38d1a31ac7600147ed_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj6405b40a44bad87f7cd544c12bbeeca0</name>
        <label>JB_Decision_Null_Check_SalesforceObj6405b40a44bad87f7cd544c12bbeeca0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjea5f450bbaf752a557f0ed52f4d090bb</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj6405b40a44bad87f7cd544c12bbeeca0_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjea5f450bbaf752a557f0ed52f4d090bb</targetReference>
            </connector>
            <label>JB_SalesforceObj6405b40a44bad87f7cd544c12bbeeca0_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj6405b40a44bad87f7cd544c12bbeeca0_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj6405b40a44bad87f7cd544c12bbeeca0_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj6405b40a44bad87f7cd544c12bbeeca0_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj6405b40a44bad87f7cd544c12bbeeca0_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj6405b40a44bad87f7cd544c12bbeeca0_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj6405b40a44bad87f7cd544c12bbeeca0_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj7359a5e4ceadc2d78b8d54f709f52581</name>
        <label>JB_Decision_Null_Check_SalesforceObj7359a5e4ceadc2d78b8d54f709f52581</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj7359a5e4ceadc2d78b8d54f709f52581_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObj7359a5e4ceadc2d78b8d54f709f52581_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj7359a5e4ceadc2d78b8d54f709f52581_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj7359a5e4ceadc2d78b8d54f709f52581_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj7359a5e4ceadc2d78b8d54f709f52581_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj7359a5e4ceadc2d78b8d54f709f52581_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj7359a5e4ceadc2d78b8d54f709f52581_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj7359a5e4ceadc2d78b8d54f709f52581_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj75b81b65c640aeb1d0735134211394c0</name>
        <label>JB_Decision_Null_Check_SalesforceObj75b81b65c640aeb1d0735134211394c0</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj7a978b1731c1ebf2f2754d1dd6238f72</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj75b81b65c640aeb1d0735134211394c0_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj7a978b1731c1ebf2f2754d1dd6238f72</targetReference>
            </connector>
            <label>JB_SalesforceObj75b81b65c640aeb1d0735134211394c0_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj75b81b65c640aeb1d0735134211394c0_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj75b81b65c640aeb1d0735134211394c0_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj75b81b65c640aeb1d0735134211394c0_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj75b81b65c640aeb1d0735134211394c0_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj75b81b65c640aeb1d0735134211394c0_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj75b81b65c640aeb1d0735134211394c0_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj78d40f1fceaca6493800ed2eb92f5d8b</name>
        <label>JB_Decision_Null_Check_SalesforceObj78d40f1fceaca6493800ed2eb92f5d8b</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj7359a5e4ceadc2d78b8d54f709f52581</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj78d40f1fceaca6493800ed2eb92f5d8b_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj7359a5e4ceadc2d78b8d54f709f52581</targetReference>
            </connector>
            <label>JB_SalesforceObj78d40f1fceaca6493800ed2eb92f5d8b_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj78d40f1fceaca6493800ed2eb92f5d8b_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj78d40f1fceaca6493800ed2eb92f5d8b_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj78d40f1fceaca6493800ed2eb92f5d8b_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj78d40f1fceaca6493800ed2eb92f5d8b_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj78d40f1fceaca6493800ed2eb92f5d8b_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj78d40f1fceaca6493800ed2eb92f5d8b_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj7a978b1731c1ebf2f2754d1dd6238f72</name>
        <label>JB_Decision_Null_Check_SalesforceObj7a978b1731c1ebf2f2754d1dd6238f72</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjda82c043ebfd82deb0c6c9f2dc7bf53a</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj7a978b1731c1ebf2f2754d1dd6238f72_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjda82c043ebfd82deb0c6c9f2dc7bf53a</targetReference>
            </connector>
            <label>JB_SalesforceObj7a978b1731c1ebf2f2754d1dd6238f72_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj7a978b1731c1ebf2f2754d1dd6238f72_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj7a978b1731c1ebf2f2754d1dd6238f72_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj7a978b1731c1ebf2f2754d1dd6238f72_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj7a978b1731c1ebf2f2754d1dd6238f72_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj7a978b1731c1ebf2f2754d1dd6238f72_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj7a978b1731c1ebf2f2754d1dd6238f72_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjca1237575dfa129480121e83b242748a</name>
        <label>JB_Decision_Null_Check_SalesforceObjca1237575dfa129480121e83b242748a</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj062069ebc25c1262f5ddaf921d1240f0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjca1237575dfa129480121e83b242748a_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj062069ebc25c1262f5ddaf921d1240f0</targetReference>
            </connector>
            <label>JB_SalesforceObjca1237575dfa129480121e83b242748a_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjca1237575dfa129480121e83b242748a_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjca1237575dfa129480121e83b242748a_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjca1237575dfa129480121e83b242748a_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjca1237575dfa129480121e83b242748a_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjca1237575dfa129480121e83b242748a_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjca1237575dfa129480121e83b242748a_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjda82c043ebfd82deb0c6c9f2dc7bf53a</name>
        <label>JB_Decision_Null_Check_SalesforceObjda82c043ebfd82deb0c6c9f2dc7bf53a</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj557a24c77569a7776a589970ef45586b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjda82c043ebfd82deb0c6c9f2dc7bf53a_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj557a24c77569a7776a589970ef45586b</targetReference>
            </connector>
            <label>JB_SalesforceObjda82c043ebfd82deb0c6c9f2dc7bf53a_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjda82c043ebfd82deb0c6c9f2dc7bf53a_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjda82c043ebfd82deb0c6c9f2dc7bf53a_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjda82c043ebfd82deb0c6c9f2dc7bf53a_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjda82c043ebfd82deb0c6c9f2dc7bf53a_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjda82c043ebfd82deb0c6c9f2dc7bf53a_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjda82c043ebfd82deb0c6c9f2dc7bf53a_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjea5f450bbaf752a557f0ed52f4d090bb</name>
        <label>JB_Decision_Null_Check_SalesforceObjea5f450bbaf752a557f0ed52f4d090bb</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj32a1c0aad93ff4c59fdf9ecc156214ee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjea5f450bbaf752a557f0ed52f4d090bb_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.npsp__Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObj32a1c0aad93ff4c59fdf9ecc156214ee</targetReference>
            </connector>
            <label>JB_SalesforceObjea5f450bbaf752a557f0ed52f4d090bb_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjea5f450bbaf752a557f0ed52f4d090bb_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjea5f450bbaf752a557f0ed52f4d090bb_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjea5f450bbaf752a557f0ed52f4d090bb_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjec08beeb2e7250713c1cd583c927edaf</name>
        <label>JB_Decision_Null_Check_SalesforceObjec08beeb2e7250713c1cd583c927edaf</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjca1237575dfa129480121e83b242748a</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjec08beeb2e7250713c1cd583c927edaf_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjca1237575dfa129480121e83b242748a</targetReference>
            </connector>
            <label>JB_SalesforceObjec08beeb2e7250713c1cd583c927edaf_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjec08beeb2e7250713c1cd583c927edaf_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjec08beeb2e7250713c1cd583c927edaf_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjec08beeb2e7250713c1cd583c927edaf_Parameters_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjec08beeb2e7250713c1cd583c927edaf_Parameters_Not_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjec08beeb2e7250713c1cd583c927edaf_State_change_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjec08beeb2e7250713c1cd583c927edaf_Parameters_Not_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj062069ebc25c1262f5ddaf921d1240f0_Decision</name>
        <label>JB_SalesforceObj062069ebc25c1262f5ddaf921d1240f0_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj61b93bc5e8209a38d1a31ac7600147ed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj062069ebc25c1262f5ddaf921d1240f0</name>
            <conditionLogic>( (1 AND  ( (2 OR  (3 AND 4) )  AND 5) )  And  ( ( (6 AND 7)  AND  ( (8 AND 9)  OR  (10 AND 11) ) )  AND  ( (12 AND 13)  OR  (14 AND 15) ) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Puesta al cobro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_TypeFundraisingContribution__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.msf_ContactDeleteReason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120O000000LBoDQAW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120O000000kNMEQA2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.msf_HasWelcomeDonor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.msf_HasWelcomeRecurringDonor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj062069ebc25c1262f5ddaf921d1240f0_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj062069ebc25c1262f5ddaf921d1240f0</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj062069ebc25c1262f5ddaf921d1240f0_State_change_Decision</name>
        <label>JB_SalesforceObj062069ebc25c1262f5ddaf921d1240f0_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj61b93bc5e8209a38d1a31ac7600147ed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj062069ebc25c1262f5ddaf921d1240f0</name>
            <conditionLogic>NOT  (1 AND  ( (2 OR  (3 AND 4) )  AND 5) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Puesta al cobro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_TypeFundraisingContribution__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj062069ebc25c1262f5ddaf921d1240f0_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj062069ebc25c1262f5ddaf921d1240f0</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj32a1c0aad93ff4c59fdf9ecc156214ee_Decision</name>
        <label>JB_SalesforceObj32a1c0aad93ff4c59fdf9ecc156214ee_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj75b81b65c640aeb1d0735134211394c0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj32a1c0aad93ff4c59fdf9ecc156214ee</name>
            <conditionLogic>( (1 AND  ( ( ( (2 OR  (3 AND 4) )  AND 5)  AND 6)  OR 7) )  And  ( ( ( (8 AND 9)  AND  (10 AND 11) )  AND  (12 AND 13) )  AND  (14 AND 15) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Puesta al cobro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_TypeFundraisingContribution__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_AmountNotCurrency__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_ChangeNoAnonymousContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.msf_ContactDeleteReason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.msf_HasWelcomeDonor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.msf_HasWelcomeRecurringDonor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120O000000LBoCQAW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj32a1c0aad93ff4c59fdf9ecc156214ee_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj32a1c0aad93ff4c59fdf9ecc156214ee</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj32a1c0aad93ff4c59fdf9ecc156214ee_State_change_Decision</name>
        <label>JB_SalesforceObj32a1c0aad93ff4c59fdf9ecc156214ee_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj75b81b65c640aeb1d0735134211394c0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj32a1c0aad93ff4c59fdf9ecc156214ee</name>
            <conditionLogic>NOT  (1 AND  ( ( ( (2 OR  (3 AND 4) )  AND 5)  AND 6)  OR 7) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Puesta al cobro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_TypeFundraisingContribution__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_AmountNotCurrency__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_ChangeNoAnonymousContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj32a1c0aad93ff4c59fdf9ecc156214ee_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj32a1c0aad93ff4c59fdf9ecc156214ee</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj557a24c77569a7776a589970ef45586b_Decision</name>
        <label>JB_SalesforceObj557a24c77569a7776a589970ef45586b_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj78d40f1fceaca6493800ed2eb92f5d8b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj557a24c77569a7776a589970ef45586b</name>
            <conditionLogic>( (1 AND 2)  And  ( ( ( (3 AND 4)  AND  (5 AND 6) )  AND  (7 AND 8) )  AND  (9 AND 10) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_ChangeNoAnonymousContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.msf_ContactDeleteReason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.msf_HasWelcomeDonor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.msf_HasWelcomeRecurringDonor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120O000000LBoDQAW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj557a24c77569a7776a589970ef45586b_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj557a24c77569a7776a589970ef45586b</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj557a24c77569a7776a589970ef45586b_State_change_Decision</name>
        <label>JB_SalesforceObj557a24c77569a7776a589970ef45586b_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj78d40f1fceaca6493800ed2eb92f5d8b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj557a24c77569a7776a589970ef45586b</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_ChangeNoAnonymousContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj557a24c77569a7776a589970ef45586b_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj557a24c77569a7776a589970ef45586b</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj61b93bc5e8209a38d1a31ac7600147ed_Decision</name>
        <label>JB_SalesforceObj61b93bc5e8209a38d1a31ac7600147ed_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj6405b40a44bad87f7cd544c12bbeeca0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj61b93bc5e8209a38d1a31ac7600147ed</name>
            <conditionLogic>( (1 AND 2)  And  ( ( (3 AND 4)  AND  (5 AND 6) )  AND  ( (7 AND 8)  OR  (9 AND 10) ) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_ChangeNoAnonymousContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.msf_ContactDeleteReason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120O000000LBoCQAW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.msf_HasWelcomeDonor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.msf_HasWelcomeRecurringDonor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj61b93bc5e8209a38d1a31ac7600147ed_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj61b93bc5e8209a38d1a31ac7600147ed</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj61b93bc5e8209a38d1a31ac7600147ed_State_change_Decision</name>
        <label>JB_SalesforceObj61b93bc5e8209a38d1a31ac7600147ed_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj6405b40a44bad87f7cd544c12bbeeca0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj61b93bc5e8209a38d1a31ac7600147ed</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_ChangeNoAnonymousContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj61b93bc5e8209a38d1a31ac7600147ed_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj61b93bc5e8209a38d1a31ac7600147ed</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj6405b40a44bad87f7cd544c12bbeeca0_Decision</name>
        <label>JB_SalesforceObj6405b40a44bad87f7cd544c12bbeeca0_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjea5f450bbaf752a557f0ed52f4d090bb</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj6405b40a44bad87f7cd544c12bbeeca0</name>
            <conditionLogic>( (1 AND  ( (2 OR  (3 AND 4) )  AND 5) )  And  ( ( (6 AND 7)  AND  (8 AND 9) )  AND  ( (10 AND 11)  OR  (12 AND 13) ) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Puesta al cobro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_TypeFundraisingContribution__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.msf_ContactDeleteReason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120O000000LBoCQAW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.msf_HasWelcomeDonor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.msf_HasWelcomeRecurringDonor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj6405b40a44bad87f7cd544c12bbeeca0_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj6405b40a44bad87f7cd544c12bbeeca0</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj6405b40a44bad87f7cd544c12bbeeca0_State_change_Decision</name>
        <label>JB_SalesforceObj6405b40a44bad87f7cd544c12bbeeca0_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjea5f450bbaf752a557f0ed52f4d090bb</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj6405b40a44bad87f7cd544c12bbeeca0</name>
            <conditionLogic>NOT  (1 AND  ( (2 OR  (3 AND 4) )  AND 5) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Puesta al cobro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_TypeFundraisingContribution__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj6405b40a44bad87f7cd544c12bbeeca0_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj6405b40a44bad87f7cd544c12bbeeca0</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj7359a5e4ceadc2d78b8d54f709f52581_Decision</name>
        <label>JB_SalesforceObj7359a5e4ceadc2d78b8d54f709f52581_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj7359a5e4ceadc2d78b8d54f709f52581</name>
            <conditionLogic>( ( ( (1 AND 2)  AND  (3 OR  (4 AND 5) ) )  AND  (6 OR  (7 AND 8) ) )  And  ( ( (9 AND 10)  AND  (11 AND 12) )  AND  ( (13 AND 14)  OR  (15 AND 16) ) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_TypeFundraisingContribution__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_AmountNotCurrency__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_ContactRelationshipLevel__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>a0l0O00000k727R</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_ContactRelationshipLevel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Puesta al cobro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.msf_ContactDeleteReason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120O000000LBoCQAW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.msf_HasWelcomeDonor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.msf_HasWelcomeRecurringDonor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj7359a5e4ceadc2d78b8d54f709f52581_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj7359a5e4ceadc2d78b8d54f709f52581</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj7359a5e4ceadc2d78b8d54f709f52581_State_change_Decision</name>
        <label>JB_SalesforceObj7359a5e4ceadc2d78b8d54f709f52581_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj7359a5e4ceadc2d78b8d54f709f52581</name>
            <conditionLogic>NOT  ( ( (1 AND 2)  AND  (3 OR  (4 AND 5) ) )  AND  (6 OR  (7 AND 8) ) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_TypeFundraisingContribution__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_AmountNotCurrency__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_ContactRelationshipLevel__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>a0l0O00000k727R</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_ContactRelationshipLevel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Puesta al cobro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj7359a5e4ceadc2d78b8d54f709f52581_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj7359a5e4ceadc2d78b8d54f709f52581</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj75b81b65c640aeb1d0735134211394c0_Decision</name>
        <label>JB_SalesforceObj75b81b65c640aeb1d0735134211394c0_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj7a978b1731c1ebf2f2754d1dd6238f72</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj75b81b65c640aeb1d0735134211394c0</name>
            <conditionLogic>( (1 AND  ( (2 OR  (3 AND 4) )  AND 5) )  And  ( ( ( (6 AND 7)  AND  (8 AND 9) )  AND  (10 AND 11) )  AND  (12 AND 13) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Puesta al cobro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_TypeFundraisingContribution__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.msf_ContactDeleteReason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.msf_HasWelcomeDonor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.msf_HasWelcomeRecurringDonor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120O000000LBoDQAW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj75b81b65c640aeb1d0735134211394c0_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj75b81b65c640aeb1d0735134211394c0</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj75b81b65c640aeb1d0735134211394c0_State_change_Decision</name>
        <label>JB_SalesforceObj75b81b65c640aeb1d0735134211394c0_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj7a978b1731c1ebf2f2754d1dd6238f72</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj75b81b65c640aeb1d0735134211394c0</name>
            <conditionLogic>NOT  (1 AND  ( (2 OR  (3 AND 4) )  AND 5) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Puesta al cobro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_TypeFundraisingContribution__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj75b81b65c640aeb1d0735134211394c0_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj75b81b65c640aeb1d0735134211394c0</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj78d40f1fceaca6493800ed2eb92f5d8b_Decision</name>
        <label>JB_SalesforceObj78d40f1fceaca6493800ed2eb92f5d8b_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj7359a5e4ceadc2d78b8d54f709f52581</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj78d40f1fceaca6493800ed2eb92f5d8b</name>
            <conditionLogic>( (1 AND 2)  And  ( ( ( (3 AND 4)  AND  (5 AND 6) )  AND  (7 AND 8) )  AND  (9 AND 10) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_ChangeNoAnonymousContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.msf_ContactDeleteReason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.msf_HasWelcomeDonor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.msf_HasWelcomeRecurringDonor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120O000000LBoCQAW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj78d40f1fceaca6493800ed2eb92f5d8b_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj78d40f1fceaca6493800ed2eb92f5d8b</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj78d40f1fceaca6493800ed2eb92f5d8b_State_change_Decision</name>
        <label>JB_SalesforceObj78d40f1fceaca6493800ed2eb92f5d8b_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj7359a5e4ceadc2d78b8d54f709f52581</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj78d40f1fceaca6493800ed2eb92f5d8b</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_ChangeNoAnonymousContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj78d40f1fceaca6493800ed2eb92f5d8b_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj78d40f1fceaca6493800ed2eb92f5d8b</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj7a978b1731c1ebf2f2754d1dd6238f72_Decision</name>
        <label>JB_SalesforceObj7a978b1731c1ebf2f2754d1dd6238f72_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjda82c043ebfd82deb0c6c9f2dc7bf53a</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj7a978b1731c1ebf2f2754d1dd6238f72</name>
            <conditionLogic>( (1 AND  ( ( (2 OR  (3 AND 4) )  AND 5)  AND 6) )  And  ( ( ( (7 AND 8)  AND  (9 AND 10) )  AND  (11 AND 12) )  AND  (13 AND 14) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Puesta al cobro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_TypeFundraisingContribution__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_AmountNotCurrency__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>500.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.msf_ContactDeleteReason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120O000000LBoCQAW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.msf_HasWelcomeDonor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.msf_HasWelcomeRecurringDonor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj7a978b1731c1ebf2f2754d1dd6238f72_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj7a978b1731c1ebf2f2754d1dd6238f72</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj7a978b1731c1ebf2f2754d1dd6238f72_State_change_Decision</name>
        <label>JB_SalesforceObj7a978b1731c1ebf2f2754d1dd6238f72_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjda82c043ebfd82deb0c6c9f2dc7bf53a</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObj7a978b1731c1ebf2f2754d1dd6238f72</name>
            <conditionLogic>NOT  (1 AND  ( ( (2 OR  (3 AND 4) )  AND 5)  AND 6) )</conditionLogic>
            <conditions>
                <leftValueReference>old_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Puesta al cobro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_TypeFundraisingContribution__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>D</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_AmountNotCurrency__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>500.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj7a978b1731c1ebf2f2754d1dd6238f72_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObj7a978b1731c1ebf2f2754d1dd6238f72</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjca1237575dfa129480121e83b242748a_Decision</name>
        <label>JB_SalesforceObjca1237575dfa129480121e83b242748a_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj062069ebc25c1262f5ddaf921d1240f0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjca1237575dfa129480121e83b242748a</name>
            <conditionLogic>( (1 AND 2)  And  ( ( (3 AND 4)  AND  ( (5 AND 6)  OR  (7 AND 8) ) )  AND  ( (9 AND 10)  OR  (11 AND 12) ) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_ChangeNoAnonymousContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.msf_ContactDeleteReason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120O000000LBoDQAW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120O000000LBoDQAW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.msf_HasWelcomeDonor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.msf_HasWelcomeRecurringDonor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjca1237575dfa129480121e83b242748a_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjca1237575dfa129480121e83b242748a</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjca1237575dfa129480121e83b242748a_State_change_Decision</name>
        <label>JB_SalesforceObjca1237575dfa129480121e83b242748a_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj062069ebc25c1262f5ddaf921d1240f0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjca1237575dfa129480121e83b242748a</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_ChangeNoAnonymousContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjca1237575dfa129480121e83b242748a_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjca1237575dfa129480121e83b242748a</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjda82c043ebfd82deb0c6c9f2dc7bf53a_Decision</name>
        <label>JB_SalesforceObjda82c043ebfd82deb0c6c9f2dc7bf53a_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj557a24c77569a7776a589970ef45586b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjda82c043ebfd82deb0c6c9f2dc7bf53a</name>
            <conditionLogic>( ( (1 AND 2)  AND 3)  And  ( ( ( (4 AND 5)  AND  (6 AND 7) )  AND  (8 AND 9) )  AND  (10 AND 11) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_ChangeNoAnonymousContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_AmountNotCurrency__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>500.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.msf_ContactDeleteReason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120O000000LBoCQAW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.msf_HasWelcomeDonor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.msf_HasWelcomeRecurringDonor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjda82c043ebfd82deb0c6c9f2dc7bf53a_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjda82c043ebfd82deb0c6c9f2dc7bf53a</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjda82c043ebfd82deb0c6c9f2dc7bf53a_State_change_Decision</name>
        <label>JB_SalesforceObjda82c043ebfd82deb0c6c9f2dc7bf53a_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj557a24c77569a7776a589970ef45586b</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjda82c043ebfd82deb0c6c9f2dc7bf53a</name>
            <conditionLogic>NOT  ( (1 AND 2)  AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_ChangeNoAnonymousContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_AmountNotCurrency__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>500.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjda82c043ebfd82deb0c6c9f2dc7bf53a_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjda82c043ebfd82deb0c6c9f2dc7bf53a</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjea5f450bbaf752a557f0ed52f4d090bb_Decision</name>
        <label>JB_SalesforceObjea5f450bbaf752a557f0ed52f4d090bb_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj32a1c0aad93ff4c59fdf9ecc156214ee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjea5f450bbaf752a557f0ed52f4d090bb</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.npsp__Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_IsFromLastMonths__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjea5f450bbaf752a557f0ed52f4d090bb_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjea5f450bbaf752a557f0ed52f4d090bb</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjea5f450bbaf752a557f0ed52f4d090bb_State_change_Decision</name>
        <label>JB_SalesforceObjea5f450bbaf752a557f0ed52f4d090bb_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj32a1c0aad93ff4c59fdf9ecc156214ee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjea5f450bbaf752a557f0ed52f4d090bb</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.npsp__Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_IsFromLastMonths__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjea5f450bbaf752a557f0ed52f4d090bb_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjea5f450bbaf752a557f0ed52f4d090bb</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjec08beeb2e7250713c1cd583c927edaf_Decision</name>
        <label>JB_SalesforceObjec08beeb2e7250713c1cd583c927edaf_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjca1237575dfa129480121e83b242748a</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjec08beeb2e7250713c1cd583c927edaf</name>
            <conditionLogic>( (1 AND 2)  And  ( ( (3 AND 4)  AND  (5 AND 6) )  AND  ( (7 AND 8)  OR  (9 AND 10) ) ) )</conditionLogic>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_ChangeNoAnonymousContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.msf_ContactDeleteReason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0120O000000LBoCQAW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.msf_HasWelcomeDonor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.msf_DonationVehicleContact__r.msf_HasWelcomeRecurringDonor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjec08beeb2e7250713c1cd583c927edaf_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjec08beeb2e7250713c1cd583c927edaf</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjec08beeb2e7250713c1cd583c927edaf_State_change_Decision</name>
        <label>JB_SalesforceObjec08beeb2e7250713c1cd583c927edaf_State_change_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjca1237575dfa129480121e83b242748a</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>State_Change_SalesforceObjec08beeb2e7250713c1cd583c927edaf</name>
            <conditionLogic>NOT  (1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>old_object.msf_DonationVehicleContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>old_object.msf_ChangeNoAnonymousContact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjec08beeb2e7250713c1cd583c927edaf_Decision</targetReference>
            </connector>
            <label>State_Change_SalesforceObjec08beeb2e7250713c1cd583c927edaf</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Opportunity</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObjec08beeb2e7250713c1cd583c927edaf</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
