force-app/main/default/flows/MSF_NewChained.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>MSF_SetChainedTaskBlock_ToParent</name>
        <label>Set Chained Task block</label>
        <locationX>723</locationX>
        <locationY>196</locationY>
        <assignmentItems>
            <assignToReference>MSF_ParentTask.msf_ChainedTaskBlock__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MSF_ChainedTaskBlock.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MSF_UpdateParentTask</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Opcion_Null</name>
        <choiceText>--Ninguno--</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <decisions>
        <description>Comprobar si existe el bloque de ChainedTaskBlock</description>
        <name>MSF_ChainedTaskBlock_Exists</name>
        <label>Bloque de Tareas Encadenadas Existe</label>
        <locationX>467</locationX>
        <locationY>352</locationY>
        <defaultConnector>
            <targetReference>MSF_CreateChainedTaskBlock</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>MSF_ChainedTaskBlockIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MSF_ParentTask.msf_ChainedTaskBlock__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MSF_CreateChainedTaskBlock</targetReference>
            </connector>
            <label>ChainedTaskBlockNull</label>
        </rules>
        <rules>
            <name>MSF_ChainedTaskBlockIsNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MSF_ParentTask.msf_ChainedTaskBlock__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MSF_GetChainedTaskBlock</targetReference>
            </connector>
            <label>ChainedTaskBlocNOTNull</label>
        </rules>
    </decisions>
    <description>Nueva Tarea Encadenada.</description>
    <dynamicChoiceSets>
        <name>Activity_Priority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>OpenActivity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MSF_Activity_Channel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>msf_Channel__c</picklistField>
        <picklistObject>OpenActivity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MSF_Activity_Family</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>msf_Family__c</picklistField>
        <picklistObject>OpenActivity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MSF_Activity_InboundOutbound</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>msf_InboundOutbound__c</picklistField>
        <picklistObject>OpenActivity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>msf_LeadSource__c</description>
        <name>MSF_Activity_LeadSource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>msf_LeadSource__c</picklistField>
        <picklistObject>OpenActivity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MSF_Activity_Objective</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>msf_Objective__c</picklistField>
        <picklistObject>OpenActivity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MSF_Activity_ProactiveReactive</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>msf_ProactiveReactive__c</picklistField>
        <picklistObject>OpenActivity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MSF_Activity_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MSF_Activity_Subject</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>msf_Subject__c</picklistField>
        <picklistObject>msf_InteractionsMasterData__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MSF_Activity_TypeTemplate</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>msf_TypeTemplate__c</picklistField>
        <picklistObject>OpenActivity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>MSF_CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>MSF_NewChained {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MSF_NewChainedTask</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>MSF_CreateChainedTaskBlock</name>
        <label>Crear Bloque de Tareas Encadenadas</label>
        <locationX>474</locationX>
        <locationY>139</locationY>
        <assignRecordIdToReference>MSF_ChainedTaskBlock.Id</assignRecordIdToReference>
        <connector>
            <targetReference>MSF_SetChainedTaskBlock_ToParent</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>MSF_CurrentUserId</elementReference>
            </value>
        </inputAssignments>
        <object>msf_ChainedTaskBlock__c</object>
    </recordCreates>
    <recordCreates>
        <name>MSF_NewChainedTask</name>
        <label>MSF_NewChainedTask</label>
        <locationX>951</locationX>
        <locationY>381</locationY>
        <assignRecordIdToReference>MSF_ChainedTaskId</assignRecordIdToReference>
        <connector>
            <targetReference>NewChainedTask_OnEnd</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>MSF_NewTask_CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Activity_Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>MSF_NewTask_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>MSF_Activity_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>MSF_ParentTask.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>MSF_ParentTask.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>msf_ChainedTaskBlock__c</field>
            <value>
                <elementReference>MSF_ChainedTaskBlock.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>msf_Channel__c</field>
            <value>
                <elementReference>MSF_Activity_Channel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>msf_ProactiveReactive__c</field>
            <value>
                <elementReference>MSF_NewTask_ProactiveReactive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>msf_TypeTemplate__c</field>
            <value>
                <elementReference>MSF_Activity_TypeTemplate</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>MSF_Get_ParentTask</name>
        <label>MSF_Get_ParentTask</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NewChildTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>MSF_ParentTask</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WhoId</queriedFields>
        <queriedFields>WhatId</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>msf_ChainedTaskBlock__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>MSF_GetChainedTaskBlock</name>
        <label>Obtener Bloque de Tareas Encadenadas</label>
        <locationX>469</locationX>
        <locationY>664</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MSF_NewChainedTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MSF_ParentTask.msf_ChainedTaskBlock__c</elementReference>
            </value>
        </filters>
        <object>msf_ChainedTaskBlock__c</object>
        <outputReference>MSF_ChainedTaskBlock</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>MSF_UpdateParentTask</name>
        <label>Update Parent Task</label>
        <locationX>869</locationX>
        <locationY>198</locationY>
        <connector>
            <targetReference>MSF_NewChainedTask</targetReference>
        </connector>
        <inputReference>MSF_ParentTask</inputReference>
    </recordUpdates>
    <screens>
        <name>NewChainedTask_OnEnd</name>
        <label>Crear Tarea Relacionada</label>
        <locationX>1329</locationX>
        <locationY>380</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NewChainedTask_OnEnd_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Nueva tarea creada correctamente.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ButtonNavigate</name>
            <extensionName>c:MSF_FlowComponent_ButtonNavigate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>MSF_ChainedTaskId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NewChildTask</name>
        <label>Nueva Tarea Encadenada</label>
        <locationX>235</locationX>
        <locationY>349</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MSF_ChainedTaskBlock_Exists</targetReference>
        </connector>
        <fields>
            <name>MSF_NewTask_Subject</name>
            <choiceReferences>MSF_Activity_Subject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Asunto</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MSF_NewTask_CloseDate</name>
            <dataType>Date</dataType>
            <fieldText>Fecha de Cierre</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MSF_NewTask_Channel</name>
            <choiceReferences>MSF_Activity_Channel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Canal</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MSF_NewTask_Status</name>
            <choiceReferences>MSF_Activity_Status</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Estado</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MSF_NewTask_ProactiveReactive</name>
            <choiceReferences>MSF_Activity_ProactiveReactive</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Proactiva / Reactiva</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tipo_Pieza</name>
            <choiceReferences>MSF_Activity_TypeTemplate</choiceReferences>
            <choiceReferences>Opcion_Null</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Opcion_Null</defaultSelectedChoiceReference>
            <fieldText>Tipo / Pieza</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Prioridad</name>
            <choiceReferences>Activity_Priority</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Prioridad</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>MSF_Get_ParentTask</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>MSF_ChainedTaskBlock</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>msf_ChainedTaskBlock__c</objectType>
    </variables>
    <variables>
        <name>MSF_ChainedTaskBlockId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MSF_ChainedTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MSF_ParentTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
