force-app/main/default/flows/NewChildTask.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Opcion_Null</name>
        <choiceText>--Ninguno--</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <description>Crear una tarea realacionada con otra.</description>
    <dynamicChoiceSets>
        <name>MSF_Activity_Channel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>msf_Channel__c</picklistField>
        <picklistObject>OpenActivity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MSF_Activity_Family</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>msf_Family__c</picklistField>
        <picklistObject>OpenActivity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MSF_Activity_InboundOutbound</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>msf_InboundOutbound__c</picklistField>
        <picklistObject>OpenActivity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>msf_LeadSource__c</description>
        <name>MSF_Activity_LeadSource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>msf_LeadSource__c</picklistField>
        <picklistObject>OpenActivity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MSF_Activity_Objective</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>msf_Objective__c</picklistField>
        <picklistObject>OpenActivity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MSF_Activity_ProactiveReactive</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>msf_ProactiveReactive__c</picklistField>
        <picklistObject>OpenActivity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MSF_Activity_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MSF_Activity_Subject</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>msf_Subject__c</picklistField>
        <picklistObject>msf_InteractionsMasterData__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MSF_TypeTemplate</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>msf_TypeTemplate__c</picklistField>
        <picklistObject>OpenActivity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_Prioridad</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>OpenActivity</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>NewChildTask {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nueva Tarea Hija</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>MSF_NewChildTask</name>
        <label>MSF_NewChildTask</label>
        <locationX>601</locationX>
        <locationY>54</locationY>
        <assignRecordIdToReference>MSF_ChildTaskId</assignRecordIdToReference>
        <connector>
            <targetReference>NewChildTask_OnEnd</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>MSF_NewTask_CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Picklist_Prioridad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>MSF_NewTask_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>MSF_Activity_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>MSF_ParentTask.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>MSF_ParentTask.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>msf_Channel__c</field>
            <value>
                <elementReference>MSF_Activity_Channel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>msf_ParentTaskId__c</field>
            <value>
                <elementReference>MSF_ParentTask.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>msf_ProactiveReactive__c</field>
            <value>
                <elementReference>MSF_NewTask_ProactiveReactive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>msf_TypeTemplate__c</field>
            <value>
                <elementReference>MSF_TypeTemplate</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>MSF_Get_ParentTask</name>
        <label>MSF_Get_ParentTask</label>
        <locationX>221</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NewChildTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>MSF_ParentTask</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WhoId</queriedFields>
        <queriedFields>WhatId</queriedFields>
        <queriedFields>Subject</queriedFields>
    </recordLookups>
    <screens>
        <name>NewChildTask</name>
        <label>Nueva Tarea Relacionada</label>
        <locationX>411</locationX>
        <locationY>53</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MSF_NewChildTask</targetReference>
        </connector>
        <fields>
            <name>MSF_NewTask_Subject</name>
            <choiceReferences>MSF_Activity_Subject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Asunto</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MSF_NewTask_CloseDate</name>
            <dataType>Date</dataType>
            <fieldText>Fecha de Cierre</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MSF_NewTask_Channel</name>
            <choiceReferences>MSF_Activity_Channel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Canal</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MSF_NewTask_Status</name>
            <choiceReferences>MSF_Activity_Status</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Estado</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MSF_NewTask_ProactiveReactive</name>
            <choiceReferences>MSF_Activity_ProactiveReactive</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Proactiva / Reactiva</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Tipo_Pieza</name>
            <choiceReferences>MSF_TypeTemplate</choiceReferences>
            <choiceReferences>Opcion_Null</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Opcion_Null</defaultSelectedChoiceReference>
            <fieldText>Tipo / Pieza</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Prioridad</name>
            <choiceReferences>Picklist_Prioridad</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Prioridad</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NewChildTask_OnEnd</name>
        <label>Crear Tarea Relacionada</label>
        <locationX>818</locationX>
        <locationY>51</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NewChildTask_OnEnd_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Nueva tarea creada correctamente.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ButtonNavigate</name>
            <extensionName>c:MSF_FlowComponent_ButtonNavigate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>MSF_ChildTaskId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>MSF_Get_ParentTask</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>MSF_ChildTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MSF_ParentTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
